/*-------------- fonts -----------------*/
/* Calibri */
@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri-LightItalic.eot");
  src: local("Calibri Light Italic"), local("Calibri-LightItalic"), url("../fonts/Calibri/Calibri-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-LightItalic.woff2") format("woff2"), url("../fonts/Calibri/Calibri-LightItalic.woff") format("woff"), url("../fonts/Calibri/Calibri-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri-Italic.eot");
  src: local("Calibri Italic"), local("Calibri-Italic"), url("../fonts/Calibri/Calibri-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-Italic.woff2") format("woff2"), url("../fonts/Calibri/Calibri-Italic.woff") format("woff"), url("../fonts/Calibri/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri-Light.eot");
  src: local("Calibri Light"), local("Calibri-Light"), url("../fonts/Calibri/Calibri-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-Light.woff2") format("woff2"), url("../fonts/Calibri/Calibri-Light.woff") format("woff"), url("../fonts/Calibri/Calibri-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri-Bold.eot");
  src: local("Calibri Bold"), local("Calibri-Bold"), url("../fonts/Calibri/Calibri-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-Bold.woff2") format("woff2"), url("../fonts/Calibri/Calibri-Bold.woff") format("woff"), url("../fonts/Calibri/Calibri-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri.eot");
  src: local("Calibri"), url("../fonts/Calibri/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri.woff2") format("woff2"), url("../fonts/Calibri/Calibri.woff") format("woff"), url("../fonts/Calibri/Calibri.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url("../fonts/Calibri/Calibri-BoldItalic.eot");
  src: local("Calibri Bold Italic"), local("Calibri-BoldItalic"), url("../fonts/Calibri/Calibri-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri/Calibri-BoldItalic.woff2") format("woff2"), url("../fonts/Calibri/Calibri-BoldItalic.woff") format("woff"), url("../fonts/Calibri/Calibri-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

/* HelveticaNeueCyr */
@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot");
  src: local("HelveticaNeueCyr-Medium"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot");
  src: local("HelveticaNeueCyr-Heavy"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot");
  src: local("HelveticaNeueCyr-HeavyItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot");
  src: local("HelveticaNeueCyr-Black"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot");
  src: local("HelveticaNeueCyr-UltraLightItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot");
  src: local("HelveticaNeueCyr-BlackItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot");
  src: local("HelveticaNeueCyr-ThinItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot");
  src: local("HelveticaNeueCyr-MediumItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot");
  src: local("HelveticaNeueCyr-LightItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot");
  src: local("HelveticaNeueCyr-UltraLight"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot");
  src: local("HelveticaNeueCyr-BoldItalic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot");
  src: local("HelveticaNeueCyr-Italic"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot");
  src: local("HelveticaNeueCyr-Roman"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot");
  src: local("HelveticaNeueCyr-Bold"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot");
  src: local("HelveticaNeueCyr-Light"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* cyrillicgaramond */
@font-face {
  font-family: 'cyrillicgaramond';
  src: url("../fonts/cyrillicgaramond/cyrillicgaramond.eot");
  src: local("cyrillicgaramond"), url("../fonts/cyrillicgaramond/cyrillicgaramond.eot?#iefix") format("embedded-opentype"), url("../fonts/cyrillicgaramond/cyrillicgaramond.woff") format("woff"), url("../fonts/cyrillicgaramond/cyrillicgaramond.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*-------------- base style -----------------*/
html,
body {
  background: #fff;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #000;
  padding: 5px 0;
  margin-bottom: 10px;
}

h1,
.h1 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 24px;
  color: #000;
  margin-bottom: 40px;
}

h2,
.h2 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  margin-bottom: 20px;
}

h3,
.h3 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h4,
.h4 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 10px;
}

h5,
.h5 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000;
  margin-bottom: 0;
}

h6,
.h6 {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #000;
  margin-bottom: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-bottom: 80px;
}

.btn,
input[type="submit"].btn {
  display: inline-block;
  height: 38px;
  background: #000;
  border: 1px solid #000;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 36px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  min-width: 200px;
}

.btn:hover,
input[type="submit"].btn:hover {
  background: transparent;
  color: #000;
}

.btn--border,
input[type="submit"].btn--border {
  background: transparent;
  color: #000;
}

.btn--border:hover,
input[type="submit"].btn--border:hover {
  background: #000;
  color: #fff;
}

.btn--white,
input[type="submit"].btn--white {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.btn--white:hover,
input[type="submit"].btn--white:hover {
  background: #fff;
  color: #000;
}

.btn--big {
  height: 53px;
  font-size: 14px;
  line-height: 51px;
  letter-spacing: 3.5px;
}

.code {
  background-color: #f7f7f7;
  border: 1px solid #e1e1e8;
  color: #d14;
  padding: 1px 4px;
  display: inline-block;
  font-family: monospace, arial;
  border-radius: 3px;
}

.h-text-left {
  text-align: left !important;
}

.h-text-center {
  text-align: center !important;
}

.h-text-right {
  text-align: right !important;
}

.h-text-justify {
  text-align: justify !important;
}

.h-text-uppercase {
  text-transform: uppercase !important;
}

.h-text-bold {
  font-weight: 700 !important;
}

/*-------------- Header -----------------*/
.header {
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  padding: 23px 0 20px;
  border-bottom: 1px solid #f2f2f3;
  height: 95px;
}

.header__logo {
  display: block;
  width: 140px;
  margin: 0 auto;
}

.header__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__phone, .header__lang {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  margin-right: 28px;
}

.header__lang {
  text-transform: uppercase;
}

.header__phone:hover, .header__lang:hover {
  color: #818181;
}

.header__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.header__icon--search {
  background-position: -5px -5px;
}

.header__icon--wish {
  background-position: -5px -30px;
}

.header__icon--auth {
  background-position: -5px -55px;
}

.header__icon--buy {
  background-position: -5px -80px;
}

.header__icon--search:hover {
  background-position: -30px -5px;
}

.header__icon--wish:hover {
  background-position: -30px -30px;
}

.header__icon--auth:hover {
  background-position: -30px -55px;
}

.header__icon--buy:hover {
  background-position: -30px -80px;
}

.header__icon:not(:last-child) {
  margin-right: 29px;
}

.header--white {
  border-bottom: 0;
}

.header--white .header__phone,
.header--white .header__lang {
  color: #fff;
}

.header--white .header__phone:hover,
.header--white .header__lang:hover {
  color: #000;
}

.header--white .header__icon--search {
  background-position: -55px -5px;
}

.header--white .header__icon--wish {
  background-position: -55px -30px;
}

.header--white .header__icon--auth {
  background-position: -55px -55px;
}

.header--white .header__icon--buy {
  background-position: -55px -80px;
}

.header--white .header__icon--search:hover {
  background-position: -5px -5px;
}

.header--white .header__icon--wish:hover {
  background-position: -5px -30px;
}

.header--white .header__icon--auth:hover {
  background-position: -5px -55px;
}

.header--white .header__icon--buy:hover {
  background-position: -5px -80px;
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Calibri", Arial, sans-serif;
  font-weight: 300;
}

.top-menu ul,
.top-menu li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.top-menu__sub {
  display: none;
}

.top-menu__item, .top-menu__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.top-menu__link {
  position: relative;
}

.top-menu__link.current::after, .top-menu__link:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #e4e4e4;
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.top-menu__item:not(:last-child) {
  margin-right: 16px;
}

.header--white .top-menu__item,
.header--white .top-menu__link {
  color: #fff;
}

.header--white__link.current::after, .header--white__link:hover::after {
  background: #fff;
}

/*-------------- Footer -----------------*/
.footer {
  font-family: "Calibri", Arial, sans-serif;
  border-top: 1px solid #f2f2f3;
}

.footer-top {
  padding-top: 50px;
}

.footer-top__logo {
  width: 145px;
  padding-top: 5px;
}

.footer-top__head {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #000;
  margin-bottom: 24px;
}

.footer-top__phone {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
  color: #000;
}

.footer-top__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu__item, .footer-menu__link {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  color: #818181;
  text-decoration: none;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
}

.footer-social__item {
  text-decoration: none;
}

.footer-social__item:not(:last-child) {
  margin-right: 20px;
}

.footer-social__item--in {
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -30px -105px;
}

.footer-social__item--vk {
  width: 18px;
  height: 10px;
  background: url(../img/sprite.png) no-repeat -30px -130px;
}

.footer-social__item--fb {
  width: 7px;
  height: 15px;
  background: url(../img/sprite.png) no-repeat -30px -150px;
}

.footer-social__item--in:hover {
  background-position: -5px -105px;
}

.footer-social__item--vk:hover {
  background-position: -5px -130px;
}

.footer-social__item--fb:hover {
  background-position: -5px -150px;
}

.footer-bottom {
  padding: 36px 0;
}

.footer-bottom__copyright {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #b4b4b4;
}

.footer-bottom__polit {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #818181;
}

.footer-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-pay__item:not(:last-child) {
  margin-right: 70px;
}

/*----------- form-site -------------*/
.form-site {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

.form-site__head {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 28px;
  color: #000;
  margin-bottom: 50px;
}

.form-site__text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #000;
  margin-bottom: 10px;
}

.form-site input[type="text"],
.form-site input[type="email"],
.form-site input[type="password"],
.form-site textarea {
  height: 45px;
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 2px solid #dfdcdb;
  border-radius: 0;
  font-family: "Calibri", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 43px;
  color: #000;
  padding: 0;
}

.form-site input[type="text"]::-webkit-input-placeholder,
.form-site input[type="email"]::-webkit-input-placeholder,
.form-site input[type="password"]::-webkit-input-placeholder,
.form-site textarea::-webkit-input-placeholder {
  color: #b1b1b1;
}

.form-site input[type="text"]::-moz-placeholder,
.form-site input[type="email"]::-moz-placeholder,
.form-site input[type="password"]::-moz-placeholder,
.form-site textarea::-moz-placeholder {
  color: #b1b1b1;
}

.form-site input[type="text"]:-ms-input-placeholder,
.form-site input[type="email"]:-ms-input-placeholder,
.form-site input[type="password"]:-ms-input-placeholder,
.form-site textarea:-ms-input-placeholder {
  color: #b1b1b1;
}

.form-site input[type="text"]::-ms-input-placeholder,
.form-site input[type="email"]::-ms-input-placeholder,
.form-site input[type="password"]::-ms-input-placeholder,
.form-site textarea::-ms-input-placeholder {
  color: #b1b1b1;
}

.form-site input[type="text"]::placeholder,
.form-site input[type="email"]::placeholder,
.form-site input[type="password"]::placeholder,
.form-site textarea::placeholder {
  color: #b1b1b1;
}

.form-site__field {
  position: relative;
  margin-bottom: 23px;
}

.form-site__tip {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #bfbfbf;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-site input[type="password"] {
  padding-right: 135px;
}

.form-site .btn {
  width: 100%;
  margin-top: 17px;
}

.form-site__polit {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #bfbfbf;
  margin-top: 16px;
}

/*----------- auth -------------*/
.auth-wrap {
  padding: 82px 0 2px;
}

.auth {
  width: 100%;
  max-width: 614px;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 40px 30px;
  text-align: center;
}

.auth-social {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  margin-top: 65px;
  margin-bottom: 65px;
}

.auth-social__text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #000;
}

.auth-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 16px;
}

.auth-social__item {
  display: block;
  width: 18px;
  height: 18px;
  text-decoration: none;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.auth-social__item--fb {
  background-position: -5px -175px;
}

.auth-social__item--tw {
  background-position: -5px -200px;
}

.auth-social__item--gplus {
  background-position: -5px -225px;
}

.auth-social__item--fb:hover {
  background-position: -30px -175px;
}

.auth-social__item--tw:hover {
  background-position: -30px -200px;
}

.auth-social__item--gplus:hover {
  background-position: -30px -225px;
}

.auth-social__item:not(:last-child) {
  margin-right: 28px;
}

/*----------- bredcrumb -------------*/
.bredcrumb {
  padding: 22px 0 30px;
}

.bredcrumb__item {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 22px;
  color: #c0c0c6;
  text-decoration: none;
  position: relative;
}

.bredcrumb__item:not(:last-child) {
  margin-right: 15px;
}

.bredcrumb__item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ececec;
  position: absolute;
  right: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*----------- catalog-menu -------------*/
.catalog-menu {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-menu__item, .catalog-menu__sub, .catalog-menu__sub-item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog-menu__item {
  position: relative;
  margin-bottom: 18px;
}

.catalog-menu__item, .catalog-menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
}

.catalog-menu__link {
  display: inline-block;
  padding-bottom: 1px;
  border-bottom: 1px solid transparent;
}

.catalog-menu__link.current {
  border-color: #000;
}

.catalog-menu__link:hover {
  text-decoration: none;
  border-bottom: 1px solid #e1e1e1;
}

.catalog-menu__sub {
  display: none;
  margin-top: 2px;
}

.catalog-menu__sub-item, .catalog-menu__sub-link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #bfbfbf;
  text-decoration: none;
}

.catalog-menu__sub-link:hover {
  color: #000;
}

.catalog-menu__open-mark {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(../img/sprite.png) no-repeat -5px -255px;
  position: absolute;
  right: 0;
  top: 6px;
  cursor: pointer;
}

.catalog-menu__sub-item {
  margin-bottom: 5px;
}

.catalog-menu__open-mark.opened {
  background-position: -5px -275px;
}

/*----------- chosen -------------*/
.chosen-container {
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  width: auto !important;
  text-align: left;
}

.chosen-search {
  display: none !important;
}

.chosen-container-single .chosen-single {
  display: block;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
  background: transparent;
  height: 22px;
  border: 1px solid transparent;
  border-radius: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-decoration: underline;
  padding: 0;
}

.chosen-container-single .chosen-single span {
  margin-right: 35px;
}

.chosen-container-single .chosen-single.chosen-default {
  color: #000;
}

.chosen-container-single .chosen-single div {
  right: 7px;
}

.chosen-container-single .chosen-single div b {
  background: url(../img/sprite.png) no-repeat -5px -305px;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -5px -285px;
}

.chosen-container .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container .chosen-results li {
  padding: 5px 20px;
}

.chosen-container .chosen-results li.highlighted {
  background: #000;
  color: #fff;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #fff;
}

.chosen-container .chosen-drop {
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
}

/*----------- filter -------------*/
.filter-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 33px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__head {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin-right: 10px;
}

.filter__val {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #bfbfbf;
  text-decoration: underline;
}

.filter__val:hover {
  color: #000;
}

.filter__val:not(:last-child) {
  margin-right: 9px;
}

.filter__item:not(:last-child) {
  margin-right: 48px;
}

.sort {
  margin-left: 35px;
}

/*----------- board-collection -------------*/
.board-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 626px;
  background-image: url(../img/bg-collection.jpg);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding: 20px 200px;
}

.board-collection__head {
  font-family: "cyrillicgaramond", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5.5px;
}

.board-collection__btn {
  margin-top: 17px;
}

.board-collection--big {
  background-image: url(../img/bg-collection-big.jpg);
  height: 930px;
  margin-bottom: 60px;
}

.board-collection--big .board-collection__head {
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 7px;
}

.board-collection--big .board-collection__btn {
  margin-top: 22px;
}

/*----------- catalog-list -------------*/
.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
}

.catalog-list__item {
  width: 50%;
  max-width: 395px;
  text-align: center;
  margin-bottom: 100px;
}

.catalog-list__img-wrap {
  position: relative;
  margin-bottom: 20px;
}

.catalog-list__img {
  display: block;
  width: 100%;
  height: 593px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-list__wish {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -5px -330px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.catalog-list__wish.active, .catalog-list__wish:hover {
  background-position: -30px -330px;
}

.catalog-list__label {
  display: inline-block;
  height: 21px;
  background: #e4e4e4;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  padding: 0 10px;
}

.catalog-list__name {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  margin-top: 6px;
}

.catalog-list__price {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-top: 38px;
}

.catalog-list__old-price {
  font-weight: 300;
  text-decoration: line-through;
  margin-right: 20px;
}

.catalog-list .btn {
  margin-top: 10px;
}

.catalog-list .board-collection {
  margin-bottom: 100px;
  height: 280px;
}

.catalog-list .board-collection__head {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: 2.5px;
}

/*----------- page-main -------------*/
.page-main .board-collection--big:first-child {
  margin-top: -95px;
  padding-top: 84px;
}

/*----------- catalog-slider -------------*/
.catalog-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: "HelveticaNeueCyr", Arial, sans-serif;
  margin: 40px 0;
  height: 441px;
  overflow: hidden;
}

.catalog-slider.slick-initialized {
  overflow: visible;
}

.catalog-slider__item {
  width: 207px;
  text-align: center;
  margin-right: 33px;
}

.catalog-slider__img-wrap {
  position: relative;
  margin-bottom: 16px;
}

.catalog-slider__img {
  display: block;
  width: 100%;
  height: 322px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.catalog-slider__wish {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -5px -330px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.catalog-slider__wish.active, .catalog-slider__wish:hover {
  background-position: -30px -330px;
}

.catalog-slider__name {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
}

.catalog-slider__price {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  margin-top: 14px;
}

.catalog-slider__old-price {
  font-size: 13px;
  text-decoration: line-through;
  margin-right: 20px;
}

.catalog-slider .btn {
  margin-top: 10px;
}
