/*----------- auth -------------*/
.auth-wrap{
	padding: 82px 0 2px;
}

.auth{
	width: 100%;
	max-width: 614px;
	border: 1px solid #000;
	margin: 0 auto;
	padding: 40px 30px;
	text-align: center;
}

.auth-social{
	font-family: $font-helvetica;
	margin-top: 65px;
	margin-bottom: 65px;

	&__text{
		@include font(normal, normal, 17px, 22px, $color-text);
	}

	&__list{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
	}

	&__item{
		display: block;
		width: 18px;
		height: 18px;
		text-decoration: none;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
	}


	&__item--fb{
		background-position: -5px -175px;
	}

	&__item--tw{
		background-position: -5px -200px;
	}

	&__item--gplus{
		background-position: -5px -225px;
	}

	&__item--fb:hover{
		background-position: -30px -175px;
	}

	&__item--tw:hover{
		background-position: -30px -200px;
	}

	&__item--gplus:hover{
		background-position: -30px -225px;
	}

	&__item:not(:last-child){
		margin-right: 28px;
	}
}

@media (max-width: 767px) {
	.auth-wrap{
		padding-top: 6px;
	}

	.auth{
		padding: 25px 20px 27px;

		.input-check__label{
			font-family: $font-helvetica;
			display: inline-block;
			vertical-align: middle;
			@include font(normal, normal, 11px, 19px, $color-grey-light);
			margin-bottom: 0;
			margin-top: 7px;
			padding-left: 21px;
		}
	}

	.auth-social{
		margin-top: 43px;
		margin-bottom: 47px;

		&__text{
			font-size: 15px;
			line-height: 20px;
		}

		&__list{
			margin-top: 12px;
		}
	}
}