/*-------------- basket -----------------*/
.basket{
	font-family: $font-montserrat;
	margin-top: 7px;

	&__head{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 25px;
	}

	h1{
		margin-bottom: 0;
	}

	&__clear{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		text-decoration: none;
		position: relative;
	}

	&__clear::after{
		content: '';
		display: inline-block;
		width: 100%;
		height: 1px;
		background: $color-grey-light;
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__clear:hover::after{
		display: none;
	}

	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 30px;
	}

	&__img{
		display: inline-block;
		width: 177px;
		height: 267px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 10px;
	}

	&__info{
		width: 178px;
		margin-left: 10px;
		margin-right: 10px;
	}

	&__name-wrap{
		display: flex;
	}

	&__name{
		display: inline-block;
		@include font(normal, normal, 16px, 21px, $color-text);
	}

	&__label{
		display: inline-block;
		height: 21px;
		background: #e4e4e4;
		@include font(normal, normal, 15px, 20px, $color-text);
		text-transform: uppercase;
		padding: 0 10px;
		margin-left: 11px;
	}

	&__price{
		@include font(normal, 500, 16px, 20px, $color-text);
		// margin-top: 8px;
	}

	&__old-price{
		font-weight: 300;
		text-decoration: line-through;
		margin-right: 30px;
	}

	&__count{
		margin-left: 10px;
		margin-right: 10px;
	}

	&__count-title{
		@include font(normal, 500, 13px, 18px, $color-grey-light);
		margin-bottom: 10px;
	}

	&__del{
		display: inline-block;
		width: 20px;
		height: 20px;
		background: url(#{$path-img}/sprite.png) no-repeat 0 -490px;
		cursor: pointer;
		margin-left: 10px;
		font-size: 0;
		margin-top: 28px;
	}

	&__del:hover{
		background-position: -25px -490px;
	}

	&__setting{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% - 385px);
	}
}

.basket-param{
	margin-top: 25px;

	&__item{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__item:not(:first-child){
		margin-top: 30px;
	}

	&__title{
		@include font(normal, 500, 13px, 18px, $color-grey-light);
		margin-right: 10px;
	}

	&__val{
		display: inline-block;
		@include font(normal, 500, 15px, 20px, $color-text);
		width: 38px;
		height: 38px;
		border: 1px solid #d9d9d9;
		text-align: center;
		line-height: 36px;
	}

	&__val:not(:last-child){
		margin-right: 10px;
	}

	&__val--color{
		display: inline-block;
		width: 30px;
		height: 15px;
		border: 0;
	}

	&__val--count{
		display: none;
	}
}

.counter{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 94px;
	height: 38px;
	border: 1px solid #d9d9d9;
	padding: 0 10px;

	&__minus,
	&__plus{
		display: inline-block;
		width: 10px;
		height: 10px;
		font-size: 0;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
		cursor: pointer;
	}

	&__minus{background-position: -5px -271px;}
	&__plus{background-position: -5px -255px;}
	&__minus:hover{background-position: -30px -271px;}
	&__plus:hover{background-position: -30px -255px;}

	&__field{
		width: 35px;
		height: 100%;
		outline: none;
		border: 0;
		border-radius: 0;
		font-family:  $font-montserrat;
		@include font(normal, 500, 12px, 34px, $color-text);
		text-align: center;
		padding: 0;
		background: transparent;
	}
}

.basket-form{
	padding: 22px 30px;
	border: 1px solid #f3f3f4;
	margin-bottom: 50px;

	&__result{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 20px;
	}

	&__count{
		@include font(normal, normal, 13px, 18px, $color-text);
	}

	&__count-title{
		color: $color-grey-light;
	}

	&__price{
		@include font(normal, 500, 22px, 28px, $color-text);
	}

	.form-site__filds{
		display: flex;
		margin-bottom: 15px;
	}

	.form-site__field{
		width: 100%;
	}

	.form-site input[type="submit"]{
		display: inline-block;
		height: 45px;
		background: transparent;
		border: 0;
		border-bottom: 2px solid #dfdcdb;
		font-family: $font-calibri;
		@include font(normal, normal, 17px, 43px, $color-text);
		padding: 0;
		padding-left: 20px;
		cursor: pointer;
		text-decoration: none;
	}

	.form-site input[type="submit"]:hover{
		color: $color-grey;
	}

	.btn{
		width: 100%;
		margin-bottom: 32px;
	}

	.btn--grey{
		margin-bottom: 37px;
	}
}

.basket-form-wrap{
	padding-top: 8px;
	.btn{
		width: 100%;
	}

	&__link{
		text-align: center;
		margin-top: 5px;
	}
}

.personal-menu + .basket{
	margin-top: 40px;
}

@media (max-width: 1249px) {
	.basket-form{
		padding: 22px 20px;
	}
}

@media (max-width: 767px) {
	.basket{
		&__head{
			margin-bottom: 32px;
		}

		&__item{
			flex-wrap: wrap;
		}

		&__img{
			width: 85px;
			height: 130px;
			margin-right: 0;
		}

		&__setting{
			display: none;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 100%;
			background: #f2f2f3;
			padding: 23px 17px;
			margin-top: 40px;
		}

		&__setting.active{
			display: flex;
		}

		.ic-hamburger span,
		.ic-hamburger span::before,
		.ic-hamburger span::after{
			background: $color-grey-light;
		}

		.ic-hamburger:hover span,
		.ic-hamburger:hover span::before,
		.ic-hamburger:hover span::after{
			background: $color-text;
		}

		.ic-hamburger.active span{
			background: transparent;
		}

		&__btn-setting{
			width: 15px;
			margin-left: 10px;
		}

		&__info{
			width: calc(100% - 130px);
			align-self: flex-start;
		}

		&__label{
			display: table;
			font-size: 12px;
			line-height: 17px;
			height: 17px;
			padding: 0 7px;
			order: 1;
			margin-left: 0;
			margin-bottom: 8px;
		}

		&__name{
			font-size: 12px;
			line-height: 17px;
			order: 2;
		}

		&__price{
			font-size: 12px;
			font-weight: 500;
			margin-top: 10px;
		}

		&__old-price{
			font-size: 12px;
			font-weight: 300;
			margin-right: 10px;
		}

		&__name-wrap{
			display: inline-flex;
			flex-direction: column;
		}

		&__size{
			margin-right: 20px;
		}

		&__size-title,
		&__count-title{
			@include font(normal, normal, 13px, 18px, $color-grey-light);
		}

		&__count-title{
			margin-bottom: 6px;
		}

		&__size-val{
			@include font(normal, normal, 15px, 20px, $color-grey-light);
			text-decoration: underline;
			cursor: pointer;
		}

		&__size-val.active,
		&__size-val:hover{
			color: $color-text;
		}

		&__size-val:not(:last-child){
			margin-right: 14px;
		}

		&__del{
			align-self: center;
			@include font(normal, normal, 13px, 18px, $color-text);
			text-decoration: none;
			padding-left: 20px;
			margin-left: 0;
		}

		&__del:hover{
			color: $color-grey-light;
		}
	}

	.basket-param{
		display: flex;
		margin-top: 14px;

		&__title{
			display: none;
		}

		&__val{
			font-size: 12px;
			font-weight: normal;
			margin-top: 1px;
		}

		&__val--count{
			display: inline-block;
		}
	}

	.counter{
		height: 30px;
	}

	.basket-form{
		padding: 13px 20px 0;
		margin-bottom: 28px;

		.form-site input[type="submit"]{
			font-size: 15px;
			line-height: 34px;
			height: 34px;
		}

		.form-site__filds{
			margin-bottom: 21px;
		}

		.btn{
			margin-bottom: 20px;
			padding: 0 5px;
		}

		.btn + .unwrap-block{
			margin-top: 11px;
		}
	}
}