/*----------- catalog-list -------------*/
.catalog-list-wrap{
	.board-collection{
		margin-bottom: 100px;
		height: 280px;
	}

	.board-collection__head{
		font-size: 25px;
		line-height: 40px;
		letter-spacing: 2.5px;
	}
}

.catalog-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-family: $font-montserrat;

	&__item{
		width: 47%;
		max-width: 395px;
		text-align: center;
		margin-bottom: 100px;
	}

	&__item:nth-child(even){
		margin-left: 10px;
	}

	&__item:nth-child(odd){
		margin-right: 10px;
	}

	&__img-wrap{
		position: relative;
		margin-bottom: 20px;
	}

	&__img{
		display: block;
		width: 100%;
		height: 593px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__wish{
		display: inline-block;
		width: 21px;
		height: 18px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px -905px;
		position: absolute;
		top: 20px;
		left: 20px;
		opacity: 0.5;
	}

	&__wish.active,
	&__wish:hover{
		background-position: -35px -905px;
	}

	&__label{
		display: inline-block;
		height: 21px;
		background: #e4e4e4;
		@include font(normal, normal, 15px, 20px, $color-text);
		text-transform: uppercase;
		padding: 0 10px;
	}

	&__name{
		display: inline-block;
		@include font(normal, normal, 16px, 21px, $color-text);
		text-decoration: none;
		margin-top: 6px;
	}

	&__price{
		@include font(normal, 500, 16px, 21px, $color-text);
		margin-top: 8px;
	}

	&__old-price{
		font-weight: 300;
		text-decoration: line-through;
		margin-right: 20px;
	}

	&__del,
	&__del a{
		@include font(normal, normal, 11px, 18px, $color-grey-light);
	}

	&__del{
		margin-top: 7px;
	}

	&__del a{
		text-decoration: none;
	}

	.btn{
		font-size: 10px;
		line-height: 31px;
		height: 32px;
		margin-top: 10px;
	}
}

@media (max-width: 1249px) {
	.catalog-list{
		&__item{
			width: calc(50% - 10px);
		}
	}
}

@media (max-width: 767px) {
	.catalog-list-wrap{
		.catalog-list,
		.board-collection{
			margin-left: -20px;
			margin-right: -20px;
		}

		.board-collection{
			width: auto;
			height: 206px;
			margin-top: 10px;
			margin-bottom: 50px;
		}

		.board-collection__head{
			font-size: 17px;
			line-height: 22px;
		}

		&__text{
			margin-top: 9px;
		}
	}

	.catalog-list{
		&__item{
			margin-bottom: 34px;
		}

		&__img-wrap{
			width: 150px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 18px;
		}

		&__img{
			height: 225px;
			background-size: contain;
		}

		&__wish{
			top: 10px;
			left: 10px;
		}

		&__label{
			font-size: 12px;
			line-height: 17px;
			height: 17px;
			padding: 0 7px;
		}

		&__name{
			font-size: 14px;
		}

		&__price{
			font-size: 12px;
			font-weight: 500;
			margin-top: 0;
		}

		&__old-price{
			font-size: 12px;
			font-weight: 300;
			margin-right: 10px;
		}
	}
}