/*----------- catalog-deatail -------------*/
/* catalog-card*/
.catalog-card{
	font-family: $font-montserrat;
	padding-top: 6px;

	&__info{
		margin-left: -21px;
	}

	&__head,
	&__price{
		display: flex;
		align-items: center;
		margin-bottom: 36px;
	}

	&__head{
		margin-top: -4px;
	}

	&__title{
		@include font(normal, normal, 17px, 24px, $color-text);
	}

	&__label{
		display: inline-block;
		height: 21px;
		background: #e4e4e4;
		@include font(normal, normal, 15px, 20px, $color-text);
		text-transform: uppercase;
		padding: 0 10px;
		margin-left: 8px;
	}

	&__old-price{
		@include font(normal, 300, 19px, 21px, $color-text);
		text-decoration: line-through;
		margin-right: 20px;
	}

	&__cur-price{
		@include font(normal, 500, 19px, 21px, $color-text);
	}

	&__action{
		display: flex;
		flex-wrap: wrap;
	}

	&__action .btn{
		min-width: 0;
		margin-bottom: 15px;
	}

	&__action .btn:not(:last-child){
		margin-right: 15px;
	}

	&__time{
		@include font(normal, normal, 13px, 18px, $color-text);
		margin-bottom: 36px;
	}

	&__time-title{
		color: $color-grey-light;
	}

	&__wish{
		display: inline-block;
		@include font(normal, normal, 15px, 20px, $color-text);
		text-decoration: none;
		padding-left: 26px;
		position: relative;
		margin-bottom: 30px;
	}

	&__wish::before{
		content: '';
		display: inline-block;
		width: 17px;
		height: 15px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px  -30px;
		position: absolute;
		@include top-center;
		left: 0;
	}

	&__wish.active::before,
	&__wish:hover::before{
		background-position: -80px -30px;
	}

	&__text{
		@include font(normal, normal, 13px, 18px, $color-text);
		margin-top: 36px;
	}
}

.catalog-card-charact{
	border-top: 1px solid #f2f2f3;
	padding: 35px 0 11px;

	&__item{
		margin-bottom: 30px;
	}

	&__name-wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include font(normal, normal, 13px, 18px, $color-grey-light);
	}

	&__name{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		margin-bottom: 6px;
	}

	&__list{
		display: flex;
		flex-wrap: wrap;
	}

	&__val{
		@include font(normal, normal, 17px, 20px, $color-grey-light);
		text-decoration: none;
	}

	&__val:not(:last-child){
		margin-right: 18px;
	}

	&__val:hover,
	&__val.current{
		color: $color-text;
	}

	&__item--color{
		margin-bottom: 37px;
	}

	&__item--color &__name{
		margin-bottom: 11px;
	}

	&__item--color &__val{
		display: inline-block;
		width: 40px;
		height: 20px;
		border: 1px solid #d9d9d9;
		position: relative;
		cursor: pointer;
	}

	&__item--color &__val:hover::before,
	&__item--color &__val.current::before{
		content: '';
		display: inline-block;
		width: 44px;
		height: 24px;
		border: 1px solid #000;
		position: absolute;
		top: -3px;
		left: -3px;
	}

	&__item--color &__val:not(:last-child){
		margin-right: 13px;
	}

	&__size-guide{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		margin-left: 20px;
	}
}

.catalog-detail-more{
	margin-top: 126px;

	&__head{
		@include font(normal, normal, 19px, 25px, $color-text);
		margin-bottom: 25px;
	}

	.catalog-slider{
		margin-top: 0;
		margin-left: -24.5px;
		margin-right: -24.5px;
	}

	.catalog-slider__item{
		width: 138px;
		margin-left: 24.5px;
		margin-right: 24.5px;
	}

	.catalog-slider__img-wrap{
		width: 138px;
		margin-left: auto;
		margin-right: auto;
	}

	.catalog-slider__img{
		height: 215px;
	}

	.catalog-slider .slick-arrow{
		top: 105px;
	}
}

/* product-slider */
.product-slider{
	display: flex;
	align-items: center;
}

.product-slide-thumb{
	width: 119px;
	height: 740px;
	overflow: hidden;
	margin-right: 20px;

	&.slick-initialized{
		height: auto;
		overflow: visible;
	}

	&__item{
		display: inline-block;
		width: 119px;
		height: 178px;
		margin: 27px 0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		cursor: pointer;
		position: relative;
	}

	&__item::after{
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.45);
		position: absolute;
		top: 0;
		left: 0;
	}

	&__item:hover::after,
	&__item.slick-current::after{
		display: none;
	}

	&.slick-vertical .slick-slide{
		height: 178px;
		border: 0;
		outline: 0;
	}

	.slick-arrow{
		display: inline-block;
		width: 20px;
		height: 12px;
		outline: 0;
		border: 0;
		font-size: 0;
		padding: 0;
		margin: 0;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;
	}

	.slick-prev{
		top: -20px;
		background-position: -5px  -440px
	}

	.slick-next{
		bottom: -20px;
		background-position: -5px  -470px
	}

	.slick-prev:hover{
		background-position: -35px  -440px
	}

	.slick-next:hover{
		background-position: -35px  -470px
	}
}

.product-slide-img{
	height: 740px;
	width: 494px;
	overflow: hidden;

	&.slick-initialized{
		height: auto;
		overflow: visible;
	}

	&__item{
		display: inline-block;
		width: 494px;
		height: 740px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&.slick-vertical .slick-slide{
		height: 740px;
		border: 0;
		outline: 0;
	}
}

@media (max-width: 1249px) {
	.catalog-card{
		&__info{
			margin-left: 0;
		}
	}

	.product-slide-thumb{
		width: 105px;
	}

	.product-slide-thumb.slick-vertical .slick-slide{
		height: 158px;
	}
}

@media (max-width: 991px) {
	.catalog-card{
		&__info{
			margin-top: 50px;
		}
	}

	.catalog-detail-more{
		.catalog-slider__img{
			height: 322px;
		}

		.catalog-slider .slick-arrow{
			top: 150px;
			z-index: 10;
		}

		.catalog-slider{
			margin-left: -10px;
			margin-right: -10px;
		}

		.catalog-slider__item{
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}

@media (max-width: 767px) {
	.catalog-card{
		padding-top: 20px;

		&__info{
			margin-top: 23px;
		}

		&__head{
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			margin-bottom: 12px;
		}

		&__label{
			font-size: 12px;
			line-height: 17px;
			height: 17px;
			padding: 0 7px;
			margin-left: 0;
			margin-bottom: 5px;
			order: 1;
		}

		&__title{
			order: 2;
		}

		&__price{
			font-size: 16px;
			font-weight: 500;
			margin-bottom: 9px;
		}

		&__old-price{
			font-size: 16px;
			font-weight: 300;
		}

		&__action{
			margin: 0;
		}

		&__action .btn{
			min-width: 280px;
			margin-bottom: 13px;
		}

		&__action .btn:not(:last-child) {
			margin-right: 0;
		}

		&__time{
			margin-top: 2px;
			margin-bottom: 44px;
		}

		&__wish{
			margin-bottom: 19px;
		}

		&__text{
			margin-top: 46px;
		}

		&__btn-add{
			width: calc(100% - 20px);
			height: 50px;
			line-height: 48px;
			font-size: 12px;
			position: fixed;
			left: 0;
			right: 0;
			bottom: 0;
			margin: 10px;
			opacity: 0;
			z-index: 100;
			transition: opacity 0.3s ease 0s;
		}

		&__btn-add.active{
			opacity: 1;
		}

		&__btn-add:hover{
			background: #fff;
		}
	}

	.product-slide-img{
		width: 320px;

		&__item{
			height: 480px;
		}
	}

	.product-slider{
		.slick-dots,
		.slick-dots li{
			padding: 0;
			margin: 0;
			list-style: none;
		}

		.slick-dots{
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			bottom: 17px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		.slick-dots button{
			display: inline-block;
			border: 0;
			outline: 0;
			font-size: 0;
			padding: 0;
			margin: 0 5px;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: rgba(255,255,255,0.4);
		}

		.slick-dots .slick-active button,
		.slick-dots button:hover{
			background: rgba(255,255,255,1);
		}
	}

	.catalog-card-charact{
		padding-top: 0;
		border-top: 0;

		&__item{
			padding-bottom: 30px;
			border-bottom: 1px solid #f2f2f3;
			margin-bottom: 27px;
		}

		&__item--line{
			display: flex;
			padding-top: 0;
			padding-bottom: 20px;
			margin-bottom: 24px;
		}

		&__item--line &__name{
			margin-right: 10px;
		}
	}

	.catalog-detail-more{
		.catalog-slider{
			margin-left: -20px;
			margin-right: -20px;
		}

		.catalog-slider__img-wrap{
			width: 218px;
			width: 100%;
		}

		.catalog-slider__img{
			height: 328px;
			width: 100%;
			max-width: 218px;
		}

		.catalog-slider .slick-arrow{
			top: 150px;
		}
	}
}


@media (max-width: 420px) {
	.product-slide-img{
		width: calc(100% + 40px);
		margin-left: -20px;
	}

	.catalog-detail-more{
		.catalog-slider__img{
			height: 305px;
		}
	}
}