/*----------- catalog-slider -------------*/
.catalog-slider{
	display: flex;
	flex-wrap: wrap;
	font-family: $font-helvetica;
	margin: 40px 0;
	height: 441px;
	overflow: hidden;
	margin-right: -16.5px;
	margin-left: -16.5px;

	&.slick-initialized{
		overflow: visible;
	}

	&__item{
		width: 207px;
		text-align: center;
		margin-right: 16.5px;
		margin-left: 16.5px;
	}

	&__img-wrap{
		position: relative;
		margin-bottom: 16px;
	}

	&__img{
		display: block;
		width: 100%;
		height: 322px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__wish{
		display: inline-block;
		width: 14px;
		height: 14px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px -330px;
		position: absolute;
		top: 20px;
		left: 20px;
	}

	&__wish.active,
	&__wish:hover{
		background-position: -30px -330px;
	}

	&__name{
		display: inline-block;
		@include font(normal, normal, 15px, 20px, $color-text);
	}

	&__price{
		@include font(normal, normal, 15px, 20px, $color-text);
		margin-top: 14px;
	}

	&__old-price{
		font-size: 13px;
		text-decoration: line-through;
		margin-right: 20px;
	}

	.btn{
		margin-top: 10px;
	}

	.slick-arrow{
		display: inline-block;
		width: 12px;
		height: 20px;
		outline: 0;
		border: 0;
		font-size: 0;
		padding: 0;
		margin: 0;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		top: 151px;
		cursor: pointer;
	}

	.slick-prev{
		left: -15px;
		background-position: -5px  -355px
	}

	.slick-next{
		right: -15px;
		background-position: -30px  -355px
	}

	.slick-prev:hover{
		background-position: -5px  -385px
	}

	.slick-next:hover{
		background-position: -30px  -385px
	}
}

@media (max-width: 1050px) {
	.catalog-slider{
		.slick-prev{
			left: 0;
		}

		.slick-next{
			right: 0;
		}
	}
}