/*----------- category-main -------------*/
.category-main{
	font-family: $font-montserrat;

	&__item{
		margin-bottom: 46px;
		max-width: 569px;
	}

	&__item--right{
		margin-right: 0;
		margin-left: auto;
	}

	&__item--big{
		max-width: 100%;
	}

	&__img{
		height: 608px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__head{
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
	}

	&__title{
		@include font(normal, normal, 17px, 21px, $color-text);
		text-decoration: none;
	}

	&__title:hover{
		color: $color-grey-light;
	}

	&__link{
		display: inline-block;
		@include font(normal, normal, 13px, 21px, #b4b4b4);
		text-decoration: none;
		position: relative;
		padding-right: 18px;
	}

	&__link::after{
		content: '';
		display: inline-block;
		width: 6px;
		height: 10px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px  -415px;
		position: absolute;
		right: 0;
		@include top-center;
	}

	&__link:hover{
		color: $color-grey;
	}

	&__link:hover::after{
		background-position: -30px -415px;
	}

	&--slider{
		height: 655px;
		overflow: hidden;
	}

	&--slider.slick-initialized{
		height: auto;
		overflow: visible;
	}

	.slick-arrow{
		display: inline-block;
		width: 12px;
		height: 20px;
		outline: 0;
		border: 0;
		font-size: 0;
		padding: 0;
		margin: 0;
		background-image: url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
		background-color: transparent;
		position: absolute;
		@include top-center;
		cursor: pointer;
		z-index: 100;
	}

	.slick-prev{
		left: 20px;
		background-position: -5px  -355px
	}

	.slick-next{
		right: 20px;
		background-position: -30px  -355px
	}

	.slick-prev:hover{
		background-position: -5px  -385px
	}

	.slick-next:hover{
		background-position: -30px  -385px
	}
}

@media (max-width: 767px) {
	.category-main{
		&__item{
			margin-bottom: 25px;
			max-width: 100%;
		}

		&__head{
			margin-bottom: 4px;
		}

		&__title{
			font-size: 15px;
		}

		&__title::after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 6px;
			height: 10px;
			background: url(#{$path-img}/sprite.png) no-repeat -30px  -810px;
			margin-left: 10px;
		}

		&__title:hover::after{
			background-position: -30px -840px;
		}

		&__img{
			height: 70vh;
			margin-left: -20px;
			margin-right: -20px;
			background-position: center top;
		}

		&--slider{
			margin-left: -20px;
			margin-right: -20px;
			margin-top: 20px;
		}

		&--slider &__title{
			padding-left: 20px;
			padding-right: 20px;
		}

		&--slider &__img{
			margin-left: 0;
			margin-right: 0;
		}

		.slick-arrow{
			width: 20px;
			height: 20px;
			background: none;
		}

		.slick-arrow::after{
			content: '';
			display: inline-block;
			width: 6px;
			height: 10px;
			background-image: url(#{$path-img}/sprite.png);
			background-repeat: no-repeat;
			background-color: transparent;
			position: absolute;
			@include top-center;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		.slick-prev{left: 10px;}
		.slick-next{right: 10px;}
		.slick-prev::after{background-position: -5px  -810px}
		.slick-next::after{background-position: -30px  -810px}
		.slick-prev:hover::after{background-position: -5px  -840px}
		.slick-next:hover::after{background-position: -30px  -840px}
	}
}