/*----------- filter -------------*/
.filter-wrap{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 33px;
}

.filter{
	display: flex;
	flex-wrap: wrap;
	font-family: $font-montserrat;

	&__item{
		display: flex;
	}

	&__head{
		@include font(normal, normal, 13px, 18px, $color-text);
		margin-right: 10px;
	}

	&__val{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		text-decoration: underline;
	}

	&__val:hover{
		color: $color-text;
	}

	&__val:not(:last-child){
		margin-right: 9px;
	}

	&__item:not(:last-child){
		margin-right: 35px;
	}

	&__item:first-child{
		margin-right: 48px;
	}
}

@media (max-width: 767px) {
	.filter-wrap{
		margin-top: 1px;
		margin-bottom: 16px;
	}

	.filter{
		&__item{
			margin-bottom: 11px;
		}

		&__head{
			font-size: 14px;
			margin-right: 8px;
		}

		& &__item--color{
			order: 3;
			margin-right: 0;
		}

		& &__item--sort{
			margin-right: 30px;
		}

		.chosen-container-single .chosen-single span{
			margin-right: 30px;
		}

		.chosen-container-single .chosen-single div{
			right: 4px;
		}
	}
}