/*----------- form-site -------------*/
.form-site{
	font-family: $font-helvetica;

	&__head{
		@include font(normal, normal, 25px, 28px, $color-text);
		margin-bottom: 50px;
	}

	&__text{
		@include font(normal, normal, 17px, 22px, $color-text);
		margin-bottom: 10px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	textarea{
		height: 45px;
		width: 100%;
		outline: none;
		border: 0;
		border-bottom: 2px solid #dfdcdb;
		border-radius: 0;
		font-family: $font-calibri;
		@include font(normal, normal, 17px, 43px, $color-text);
		padding: 0;
		background: transparent;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	input[type="tel"]::placeholder,
	textarea::placeholder{
		color: #b1b1b1;
	}

	&__field{
		position: relative;
		margin-bottom: 23px;
	}

	&__tip{
		@include font(normal, normal, 13px, 16px, $color-grey-light);
		position: absolute;
		right: 0;
		@include top-center;
	}

	input[type="password"]{
		padding-right: 135px;
	}

	.btn{
		width: 100%;
		margin-top: 17px;
	}

	&__polit{
		@include font(normal, normal, 13px, 16px, $color-grey-light);
		margin-top: 16px;
	}

	&__label{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		margin-top: 6px;
	}

	input[type="text"].phone{
		padding-left: 65px;
		background: url(#{$path-img}/flag-ru.png) no-repeat -10px center;
	}

	.intl-tel-input{
		width: 100%;
	}

	.intl-tel-input.separate-dial-code .selected-dial-code{
		font-family: $font-calibri;
		@include font(normal, normal, 17px, 43px, $color-text);
	}

	.intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-2 .selected-flag{
		outline: none;
	}

	&__check{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 60px;
	}

	&__check-text{
		font-family: $font-calibri;
		@include font(normal, normal, 17px, 21px, $color-text);
	}

	&__check-link{
		font-family: $font-helvetica;
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		text-decoration: none;
		position: relative;
	}

	&__check-link::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $color-grey-light;
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__check-link:hover::after{
		display: none;
	}

	&__info{
		font-family: $font-helvetica;
		@include font(normal, normal, 13px, 18px, $color-text);
		margin-top: 32px;
		margin-bottom: 4px;
	}

	&__info-item:not(:last-child){
		margin-bottom: 6px;
	}

	&__radio{
		display: flex;
		flex-wrap: wrap;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__subscribe{
		margin-top: 10px;
	}
}

.form-site-choose{
	display: flex;
	flex-wrap: wrap;

	&__item{
		border: 1px solid #f3f3f4;
		padding: 5px 30px 7px;
		font-family: $font-calibri;
		@include font(normal, normal, 17px, 21px, #d9d9d9);
		cursor: pointer;
	}

	&__item.active,
	&__item:hover{
		color: $color-text;
		border-color: $color-text;
	}

	&__item:not(:last-child){
		margin-right: 20px;
	}

	&__img-color,
	&__item.active &__img{
		display: none;
	}

	&__item.active &__img-color{
		display: block;
	}


	&--img{
		justify-content: space-between;
	}

	&--img &__item{
		width: calc(33.33% - 20px);
		padding: 9px 30px;
	}
}

.form-site-date{
	font-family: $font-helvetica;
	margin-top: 16px;
	@include font(normal, normal, 13px, 15px, $color-text);

	&__label{
		color: $color-grey-light;
		margin-right: 13px;
	}
}

@media (max-width: 767px) {
	.form-site{
		input[type="text"],
		input[type="email"],
		input[type="password"],
		input[type="tel"],
		textarea{
			height: 34px;
			font-size: 15px;
			line-height: 34px;
		}

		&__head{
			margin-bottom: 20px;
		}

		&__text{
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 13px;
		}

		&__field{
			margin-bottom: 17px;
		}

		.btn{
			margin-top: 0;
		}

		input[type="password"] {
			padding-right: 0;
		}

		&__foget{
			@include font(normal, normal, 11px, 14px, $color-grey-light);
			margin-top: 12px;
		}

		&__tip{
			font-size: 11px;
		}

		&__polit{
			font-size: 11px;
			line-height: 13px;
			margin-top: 14px;
		}

		&__radio{
			display: block;
			margin-top: 27px;
			margin-bottom: 14px;
		}

		&__check{
			margin-top: 25px;
			display: block;
		}

		&__check-text{
			font-size: 16px;
		}

		&__info{
			margin-bottom: 22px;
		}

		&__info-item:not(:last-child){
			margin-bottom: 5px;
		}
	}

	.intl-tel-input.separate-dial-code .selected-dial-code{
		padding-left: 52px;
	}

	.intl-tel-input .selected-flag .iti-arrow{
		left: 32px;
	}

	.form-site-choose{
		&__item{
			padding: 4px 25px 3px;
			margin-bottom: 14px;
		}

		&--img &__item{
			width: auto;
			min-width: 240px;
			margin-bottom: 20px;
			text-align: center;
		}

		&--img &__item img{
			margin: 0 auto;
		}
	}

	.form-site-date{
		margin-top: 11px;
		line-height: 19px;
	}
}