/*-------------- order -----------------*/
.order-filter{
	display: flex;
	flex-wrap: wrap;
	margin: 6px 0 32px;

	&__item{
		@include font(normal, normal, 13px, 18px, #c0c0c6);
		text-decoration: none;
		position: relative;
	}

	&__item::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #c0c0c6;
		position: absolute;
		bottom: -1px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__item:hover,
	&__item.active{
		color: $color-text;
	}

	&__item:hover::after,
	&__item.active::after{
		background: $color-text;
	}

	&__item:not(:last-child){
		margin-right: 18px;
	}
}

.order-unwap{
	font-family: $font-helvetica;

	&__item{
		margin-bottom: 30px;
	}

	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid #f3f3f4;
		padding: 33px 38px 35px 30px;
		cursor: pointer;
	}

	&__head:hover{
		background: #f3f3f4;
	}

	&__content{
		display: none;
		border: 1px solid #f3f3f4;
		border-top: 0;
		padding: 40px 30px;
	}

	&__num{
		@include font(normal, 500, 16px, 20px, $color-text);
	}

	&__price{
		display: flex;
		@include font(normal, normal, 13px, 18px, $color-text);
		margin: 0 60px;
	}

	&__price-label{
		color: $color-grey-light;
		margin-right: 7px;
	}

	&__arr{
		@include font(normal, normal, 20px, 20px, $color-text);
	}
}

.order-unwap-param{
	display: flex;
	align-items: center;
	@include font(normal, normal, 13px, 18px, $color-text);

	&__item{
		display: flex;
	}

	&__item:not(:last-child){
		margin-right: 50px;
	}

	&__label{
		color: $color-grey-light;
		margin-right: 7px;
	}
}

.order-list{
	&__item{
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child){
		margin-bottom: 40px;
	}

	&__img{
		display: inline-block;
		width: 100px;
		height: 147px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 48px;
	}

	&__content{
		display: flex;
		padding-top: 5px;
		width: calc(100% - 148px);
	}

	&__name-wrap{
		margin-right: 16px;
		margin-top: -5px;
		width: 180px;
	}

	&__name{
		@include font(normal, normal, 16px, 20px, $color-text);
		margin-bottom: 8px;
	}

	&__price{
		@include font(normal, 500, 16px, 20px, $color-text);
	}

	&__param-wrap{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__param:not(:last-child){
		margin-right: 141px;
	}

	&__param{
		display: flex;
		@include font(normal, normal, 13px, 18px, $color-text);
	}

	&__param-label{
		color: $color-grey-light;
		margin-right: 9px;
	}

	&__param-val--color{
		display: inline-block;
		width: 30px;
		height: 15px;
	}

	&__param-unit{
		display: none;
	}
}

@media (max-width: 991px) {
	.order-unwap{
		&__head{
			padding: 33px 20px 35px;
		}

		&__price{
			margin: 0 20px;
		}
	}

	.order-unwap-param{
		&__item:not(:last-child){
			margin-right: 20px;
		}
	}

	.order-list{
		&__param:not(:last-child){
			margin-right: 40px;
		}
	}
}

@media (max-width: 767px) {
	.order-filter{
		margin-top: -14px;
		margin-bottom: 15px;

		&__item{
			margin-bottom: 7px;
		}

		&__item:not(:last-child){
			margin-right: 16px;
		}
	}

	.order-unwap{
		&__content{
			padding: 10px;
		}

		&__item{
			margin-bottom: 20px;
		}

		&__head{
			display: block;
			padding: 15px 20px;
			position: relative;
		}

		&__price{
			margin: 0
		}

		&__num{
			margin-bottom: 13px;
		}

		&__arr{
			position: absolute;
			top: 13px;
			right: 20px;
		}
	}

	.order-unwap-param{
		display: block;

		&__item{
			margin-bottom: 2px;
		}

		&__item:not(:last-child){
			margin-right: 0;
		}
	}

	.order-list{
		&__content{
			display: block;
			width: calc(100% - 105px);
		}

		&__img{
			width: 85px;
			height: 129px;
			margin-right: 10px;
		}

		&__name-wrap{
			width: auto;
			margin-right: 0;
		}

		&__name{
			font-size: 12px;
			line-height: 16px;
		}

		&__price{
			font-size: 12px;
			font-weight: 500;
		}

		&__old-price{
			font-size: 12px;
			font-weight: 300;
		}

		&__label{
			font-size: 12px;
			line-height: 17px;
			height: 17px;
			padding: 0 7px;
			margin-left: 0;
			margin-bottom: 5px;
			order: 1;
		}

		&__param-wrap{
			margin-top: 20px;
		}

		&__param-label{
			display: none;
		}

		&__param{
			font-size: 12px;
		}

		&__param:not(:last-child){
			margin-right: 15px;
		}

		&__param-unit{
			display: inline;
		}

		&__param--color{
			order: 2;
		}

		&__param--count{
			order: 3;
		}
	}
}
