/*----------- page-main -------------*/
.page-main{
	.board-collection--big:first-child{
		margin-top: -120px;
		padding-top: 84px;
	}

	.top-slider:first-child{
		margin-top: -120px;
	}

	.top-slider:first-child .top-slider__item{
		padding-top: 84px;
	}

	.catalog-slider{
		margin-bottom: 126px;
	}

	.board-collection{
		background-position: center -100px;
	}
}

@media (max-width: 1300px) {
	.page-main{
		.catalog-slider{
			width: 970px;
			margin-left: auto;
			margin-right: auto;
		}

		.catalog-slider__img{
			height: 250px;
		}
	}
}

@media (max-width: 1249px) {
	.page-main{
		.catalog-slider{
			width: 100%;
		}
	}
}


@media (max-width: 767px) {
	.page-main{
		.board-collection--big:first-child{
			background-position: 61% -11px;
			height: calc(100vh + 84px);
		}

		.catalog-slider{
			width: auto;
			margin-bottom: 18px;
			margin-left: -20px;
			margin-right: -20px;
		}

		.board-collection{
			background-position: center;
		}
	}
}