/*----------- page-main -------------*/
.page-main{
	.board-collection--big:first-child{
		margin-top: -95px;
		padding-top: 84px;
	}

	.catalog-slider{
		margin-bottom: 126px;
	}
}

@media (max-width: 767px) {
	.page-main{
		.board-collection--big:first-child{
			margin-top: -54px;
			background-position: 61% -11px;
		}

		.catalog-slider{
			margin-bottom: 18px;
		}
	}
}