/*-------------- personal -----------------*/
.personal-menu{
	font-family: $font-helvetica;
	margin-bottom: 22px;

	&__link{
		text-decoration: none;
		padding-left: 34px;
		position: relative;
	}

	&__link::before{
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		bottom: -4px;
		// background-image: url(#{$path-img}/sprite.png);
		// background-repeat: no-repeat;
	}

	// &__link--user::before{background-position: -5px -542px;}
	// &__link--order::before{background-position: -5px -575px;}
	// &__link--card::before{background-position: -5px -605px;}
	// &__link--wish::before{background-position: -5px -635px;}
	// &__link--user:hover::before,
	// &__item.active &__link--user::before{background-position: -40px -542px;}
	// &__link--order:hover::before,
	// &__item.active &__link--order::before{background-position: -40px -575px;}
	// &__link--card:hover::before,
	// &__item.active &__link--card::before{background-position: -40px -605px;}
	// &__link--wish:hover::before,
	// &__item.active &__link--wish::before{background-position: -40px -635px;}

	&__link--user::before{
		background: url(#{$path-img}/ic-lk-user-light-grey.svg) no-repeat center;
		background-size: contain;
	}

	&__link--order::before{
		background: url(#{$path-img}/ic-lk-order-light-grey.svg) no-repeat center;
		background-size: contain;
	}

	&__link--card::before{
		background: url(#{$path-img}/ic-basket-light-grey.svg) no-repeat center;
		background-size: contain;
	}

	&__link--wish::before{
		background: url(#{$path-img}/ic-lk-wish-light-grey.svg) no-repeat center;
		background-size: contain;
	}

	&__link--user:hover::before,
	&__item.active &__link--user::before{background: url(#{$path-img}/ic-lk-user.svg) no-repeat center;}
	&__link--order:hover::before,
	&__item.active &__link--order::before{background: url(#{$path-img}/ic-lk-order.svg) no-repeat center;}
	&__link--card:hover::before,
	&__item.active &__link--card::before{background: url(#{$path-img}/ic-basket.svg) no-repeat center;}
	&__link--wish:hover::before,
	&__item.active &__link--wish::before{background: url(#{$path-img}/ic-lk-wish.svg) no-repeat center;}

	&__text{
		@include font(normal, normal, 18px, 20px, #b5b5b5);
		margin-bottom: 4px;
		position: relative;
	}

	&__text::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #b5b5b5;
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__item.active &__text,
	&__link:hover &__text{
		color: $color-text
	}

	&__item.active &__text::after{
		color: $color-text
	}

	&__link:hover &__text{
		border-bottom: 0;
	}

	&__link:hover &__text::after{
		display: none;
	}

	&__item.active &__text::after{
		background: $color-text;
	}

	&__num{
		@include font(normal, normal, 13px, 13px, #c0c0c6);
		top: -0.75em;
	}
}

.personal-info{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	&__exit-wrap{
		padding-bottom: 11px;
	}

	&__exit{
		display: table;
		@include font(normal, 500, 12px, 14px, $color-text);
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-decoration: none;
		margin-left: 34px;
		position: relative;
	}

	&__exit:hover{
		border-bottom: 0;
	}

	&__exit::before{
		content: '';
		display: inline-block;
		width: 16px;
		height: 12px;
		background: url(#{$path-img}/sprite.png) no-repeat -5px  -520px;
		position: absolute;
		left: -30px;
	}

	&__exit::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: $color-text;
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__exit:hover::after{
		display: none;
	}

	.btn{
		width: 100%;
	}
}

.personal-contact{
	font-family: $font-helvetica;
	margin-bottom: 44px;
	margin-top: -3px;

	&__item{
		@include font(normal, normal, 13px, 18px, $color-text);
		margin-bottom: 7px;
	}

	&__label{
		color: $color-grey-light;
	}
}

.personal-contact-wrap{
	.btn{
		font-size: 10px;
		line-height: 31px;
		height: 32px;
		width: auto;
	}
}

.personal-list{
	font-family: $font-helvetica;
	margin-bottom: 20px;

	&__item{
		margin-bottom: 30px;
		display: flex;
	}

	&__img{
		display: inline-block;
		width: 100px;
		height: 147px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		margin-right: 15px;
	}

	&__content{
		max-width: calc(100% - 115px);
	}

	&__content--full{
		width: 100%;
	}

	&__order{
		@include font(normal, 500, 16px, 20px, $color-text);
		margin-bottom: 16px;
		margin-top: 9px;
	}

	&__name{
		@include font(normal, normal, 16px, 20px, $color-text);
		margin-bottom: 6px;
		margin-top: 6px;
	}

	&__price{
		@include font(normal, 500, 16px, 20px, $color-text);
		margin-bottom: 7px;
	}

	&__param{
		display: flex;
		flex-wrap: wrap;
		@include font(normal, normal, 13px, 18px, $color-text);
	}

	&__param:not(:last-child){
		margin-bottom: 6px;
	}

	&__param-name{
		color: $color-grey-light;
		margin-right: 6px;
	}

	&__param-val--color{
		display: inline-block;
		vertical-align: middle;
		width: 30px;
		height: 15px;
	}

	&__param-val:not(:last-child){
		margin-right: 10px;
	}
}

.personal-btn .btn{
	font-size: 10px;
	line-height: 31px;
	height: 32px;
}

.profile{
	margin-top: 60px;

	&__head{
		font-family: $font-helvetica;
		@include font(normal, normal, 19px, 24px, $color-text);
		margin-bottom: 17px;
	}

	input[type="submit"].btn{
		width: auto;
		margin-top: 26px;
		min-width: 163px;
	}

	&__auth{
		input[type="text"],
		input[type="email"],
		input[type="password"]{
			border: 2px solid #f1eeed;
			padding: 0 10px;
		}
	}
}

@media (max-width: 991px) {
	.personal-info{
		.btn{
			font-size: 10px;
			padding: 0 5px;
			min-width: 0;
		}

		&__exit{
			font-size: 10px;
		}
	}

	.personal-btn{
		.btn{
			font-size: 10px;
			min-width: 0;
			padding: 0 5px;
		}
	}
}

@media (max-width: 767px) {
	.personal-info{
		&__exit{
			font-size: 12px;
			margin-left: 32px;
		}

		.btn{
			font-size: 11px;
			padding: 0 20px;
			width: auto;
		}
	}

	.personal-menu{
		margin-top: 0;
		margin-bottom: 11px;

		&__item{
			padding: 30px 20px 26px;
			margin-bottom: 20px;
			border: 1px solid #f3f3f4;
		}

		&__text{
			font-size: 16px;
		}

		&__link{
			padding-left: 32px;
		}
	}

	.personal-contact-wrap {
		margin-bottom: 30px;
	}

	.personal-contact{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.personal-inner{
		border: 1px solid $color-text;
		padding: 30px 20px;

		.personal-menu__item{
			padding: 0;
			border: 0;
		}

		.basket-form{
			padding: 0;
			border: 0;
		}

		.basket__img{
			width: 75px;
			height: 115px;
		}

		.basket__info{
			width: calc(100% - 120px);
		}

		.basket-param__val{
			width: 32px;
			height: 32px;
			line-height: 30px;
		}

		.basket-param__val--color{
			height: 15px;
		}
	}

	.profile{
		margin-top: -5px;

		&__head{
			font-size: 15px;
			margin-bottom: 5px;
		}

		.form-site input[type="text"],
		.form-site input[type="email"],
		.form-site input[type="password"],
		.form-site input[type="tel"]{
			height: 45px;
			line-height: 43px;
		}

		.form-site__field {
			margin-bottom: 11px;
		}

		.form-site{
			margin-bottom: 43px;
		}

		&__auth .form-site{
			margin-bottom: 0;
		}

		&__auth input[type="text"],
		&__auth input[type="email"],
		&__auth input[type="password"]{
			border: 0;
			border-bottom: 2px solid #dfdcdb;
			padding: 0;
		}

		input[type="submit"].btn{
			min-width: 240px;
		}
	}

	.wish-list{
		.catalog-list__img-wrap{
			width: 280px;
		}

		.catalog-list__img{
			height: 418px;
		}
	}
}