/*-------------- review -----------------*/
.board-review{
	font-family: $font-montserrat;
	height: 330px;
	background: url(#{$path-img}/bg-board-review.jpg) no-repeat center -80px;
	background-size: cover;
	padding: 60px 20px;
	@include font(normal, normal, 15px, 20px, #fff);
	text-align: center;
	margin-top: -6px;

	&__head{
		font-family: $font-cyrillicgaramond;
		@include font(normal, normal, 25px, 30px, #fff);
		letter-spacing: 2.5px;
		text-transform: uppercase;
		margin-bottom: 56px;
	}

	&__mark{
		margin-bottom: 65px;
	}

	&__mark-text{
		margin-bottom: 13px;
	}

	&__count{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__num{
		font-size: 25px;
		line-height: 25px;
	}

	&__num:first-child{
		margin-right: 20px;
	}

	&__num:last-child{
		margin-left: 20px;
	}

	&__text{
		max-width: 615px;
		margin: 0 auto 23px;
	}
}

.review-filter{
	display: flex;
	justify-content: center;
	font-family: $font-montserrat;
	margin: 57px 0 30px;

	&__item{
		display: inline-block;
		text-align: center;
		min-width: 157px;
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 6px;
		text-decoration: none;
	}

	&__item:not(:last-child){
		margin-right: 30px;
	}

	&__num{
		display: block;
		@include font(normal, 200, 25px, 25px, $color-grey-light);
	}

	&__label{
		display: block;
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		margin-top: 3px;
	}

	&__item:hover &__num,
	&__item:hover &__label,
	&__item.active &__num,
	&__item.active &__label{
		color: $color-text;
	}
}

.review-list{
	font-family: $font-montserrat;
	margin-top: 60px;

	&__item{
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child){
		margin-bottom: 40px;
	}

	&__mark{
		width: 80px;
		text-align: center;
	}

	&__num{
		@include font(normal, 200, 25px, 25px, $color-text);
	}

	&__label{
		@include font(normal, normal, 10px, 12px, $color-text);
		text-transform: uppercase;
		margin-top: 5px;
	}
}

.review{
	margin-left: 14px;
	width: calc(100% - 80px);

	&__content{
		padding: 26px 30px;
		border: 1px solid #dbdbdb;
		position: relative;
	}

	&__content.opened{
		border-color: $color-text;
	}

	&__content::before,
	&__content::after{
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 14px 14px 0;
		border-color: transparent #dbdbdb transparent transparent;
		position: absolute;
	}

	&__content::before{
		top: -1px;
		left: -14px;
	}

	&__content::after{
		top: 0;
		left: -12px;
		border-color: transparent #fff transparent transparent;
	}

	&__text{
		@include font(normal, normal, 15px, 20px, $color-text);
	}

	&__caption{
		display: flex;
		justify-content: space-between;
		margin-top: 17px;
	}

	&__author{
		display: inline-flex;
	}

	&__name{
		@include font(normal, 500, 13px, 18px, $color-text);
	}

	&__city{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
		margin-left: 10px;
	}

	&__link-open{
		@include font(normal, normal, 13px, 18px, $color-grey-light);
	}

	&__answer{
		display: none;
		border: 1px solid $color-text;
		padding: 20px 30px 25px;
		margin-top: -1px;
		position: relative;
	}

	&__answer-text,
	&__answer-text p{
		@include font(normal, normal, 15px, 20px, $color-text);
	}

	&__answer-author{
		@include font(normal, 500, 13px, 18px, $color-text);
		margin-top: 14px;
	}
}

@media (max-width: 767px) {
	.board-review{
		height: 230px;
		margin-left: -20px;
		margin-right: -20px;
		margin-top: 5px;

		&__head{
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 43px;
		}

		.btn{
			min-width: 280px;
		}
	}

	.review-filter{
		margin: 24px 0 30px;

		&__item{
			min-width: 74px;
		}

		&__label{
			font-size: 10px;
		}
	}

	.review-list{
		margin-top: 40px;

		&__item{
			display: block;
		}

		&__mark-wrap{
			display: flex;
			justify-content: space-between;
			padding: 17px 20px;
			border: 1px solid #dbdbdb;
			border-bottom: 0;
		}

		&__num{
			font-size: 16px;
			line-height: 16px;
			margin-bottom: 8px;
		}

		&__label{
			letter-spacing: 1px;
		}

		&__mark{
			text-align: right;
		}

		&__item:not(:last-child){
			margin-bottom: 50px;
		}
	}

	.review{
		margin-left: 0;
		width: 100%;

		&__name{
			display: block;
			margin-bottom: 3px;
		}

		&__city{
			display: block;
			margin-left: 0;
		}

		&__content{
			padding: 22px 20px;
		}

		&__content::before,
		&__content::after{
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 11px 13px 11px;
			border-color: transparent transparent #dbdbdb transparent;
			top: -13px;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__content::after{
			border-color: transparent transparent #fff transparent;
			top: -11px;
		}

		&__text,
		&__answer{
			text-align: center;
		}

		&__answer{
			padding: 17px 20px 22px;
		}

		&__caption{
			display: block;
			text-align: center;
			margin-top: 10px;
		}
	}
}