/*-------------- Footer -----------------*/
.footer{
	font-family: $font-calibri;
	border-top: 1px solid #f2f2f3;
}

.footer-top{
	padding-top: 50px;

	&__logo{
		width: 145px;
		padding-top: 5px;
	}

	&__head{
		@include font(normal, 300, 17px, 30px, $color-text);
		margin-bottom: 24px;
	}

	&__phone{
		@include font(normal, 300, 17px, 30px, $color-text);
	}

	&__contact{
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
	}
}

.footer-menu{
	padding: 0;
	margin: 0;
	list-style: none;

	&__item{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item,
	&__link{
		@include font(normal, 300, 17px, 26px, $color-grey);
		text-decoration: none;
	}
}

.footer-social{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 5px;

	&__item{
		text-decoration: none;
	}

	&__item:not(:last-child){
		margin-right: 20px;
	}

	&__item--in{
		width: 30px;
		height: 30px;
		background: url(#{$path-img}/social-icon.png) no-repeat -5px  -5px;
	}

	&__item--vk{
		width: 30px;
		height: 17px;
		background: url(#{$path-img}/social-icon.png) no-repeat -5px  -60px;
	}

	&__item--fb{
		width: 14px;
		height: 30px;
		background: url(#{$path-img}/social-icon.png) no-repeat -5px  -100px;
	}

	&__item--in:hover{
		background-position: -50px -5px;
	}

	&__item--vk:hover{
		background-position: -50px -60px;
	}

	&__item--fb:hover{
		background-position: -50px -100px;
	}
}

.footer-bottom{
	padding: 36px 0;

	&__copyright{
		@include font(normal, 300, 15px, 20px, #b4b4b4);
	}

	&__polit{
		@include font(normal, 300, 17px, 22px, $color-grey);
	}
}

.footer-pay{
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__item:not(:last-child){
		margin-right: 70px;
	}
}

@media (max-width: 767px) {
	.footer{
		text-align: center;
	}

	.footer-top{
		padding-top: 45px;

		&__head{
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 10px;
		}

		&__contact{
			margin-bottom: 34px;
		}
	}

	.footer-social{
		justify-content: center;
	}

	.footer-menu{
		margin-top: 15px;

		&__item,
		&__link{
			font-size: 15px;
		}
	}

	.footer-pay{
		justify-content: center;

		&__item:not(:last-child){
			margin-right: 15px;
		}
	}

	.footer-bottom{
		padding: 30px 0;

		&__copyright{
			font-size: 13px;
			margin-top: 30px;
		}

		&__polit{
			font-size: 15px;
		}
	}

}