/*-------------- Header -----------------*/
.header{
	font-family: $font-calibri;
	@include font(normal, 300, 15px, 20px, $color-text);
	padding: 23px 0 20px;
	border-bottom: 1px solid #f2f2f3;

	&__logo{
		display: block;
		width: 140px;
		margin: 0 auto;
	}

	&__action{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__phone,
	&__lang{
		@include font(normal, 300, 15px, 20px, $color-text);
		text-decoration: none;
		margin-right: 28px;
	}

	&__lang{
		text-transform: uppercase;
	}

	&__phone:hover,
	&__lang:hover{
		color: $color-grey;
	}

	&__icon{
		display: inline-block;
		width: 15px;
		height: 15px;
		background-image:  url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
	}

	&__icon--search{
		background-position: -5px -5px;
	}

	&__icon--wish{
		background-position: -5px -30px;
	}

	&__icon--auth{
		background-position: -5px -55px;
	}

	&__icon--buy{
		background-position: -5px -80px;
	}

	&__icon--search:hover{
		background-position: -30px -5px;
	}

	&__icon--wish:hover{
		background-position: -30px -30px;
	}

	&__icon--auth:hover{
		background-position: -30px -55px;
	}

	&__icon--buy:hover{
		background-position: -30px -80px;
	}

	&__icon:not(:last-child){
		margin-right: 29px;
	}
}

.top-menu{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: $font-calibri;
	font-weight: 300;

	ul,
	li{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__sub{
		display: none;
	}

	&__item,
	&__link{
		@include font(normal, 300, 14px, 20px, $color-text);
		text-transform: uppercase;
		text-decoration: none;
	}

	&__link:hover{
		color: $color-grey;
	}

	&__item:not(:last-child){
		margin-right: 16px;
	}
}
