/*-------------- Header -----------------*/
.header{
	font-family: $font-calibri;
	@include font(normal, 300, 15px, 20px, $color-text);
	border-bottom: 1px solid #f2f2f3;
	height: auto;
	padding: 10px 0;
	position: relative;
	z-index: 10;

	&--white{
		padding: 19px 0;
		height: 120px;
	}

	&--white.fixed{
		padding: 10px 0;
		height: auto;
	}

	&__logo{
		display: block;
		width: 158px;
		margin: 0 auto;
	}

	&__logo-white,
	&--white &__logo-black,
	&--white.open-menu &__logo-white{
		display: none;
	}

	&--white &__logo-white,
	&--white.open-menu &__logo-black{
		display: block;
	}

	&__action{
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	&__phone,
	&__lang{
		@include font(normal, 300, 17px, 20px, $color-text);
		text-decoration: none;
		margin-right: 20px;
	}

	&__phone{
		margin-right: 15px;
	}

	&__lang{
		text-transform: uppercase;
	}

	&__phone:hover,
	&__lang:hover{
		color: $color-grey;
	}

	&__icon{
		display: inline-block;
		width: 19px;
		height: 19px;
		background-image:  url(#{$path-img}/sprite.png);
		background-repeat: no-repeat;
	}

	&__icon--auth{
		background: url(#{$path-img}/ic-auth.svg) no-repeat center;
		background-size: contain;
	}

	&__icon--search{
		background: url(#{$path-img}/ic-search.svg) no-repeat center;
		background-size: contain;
	}

	&__icon--wish{
		background: url(#{$path-img}/ic-wish.svg) no-repeat center;
		background-size: contain;
	}

	&__icon--buy{
		background: url(#{$path-img}/ic-basket.svg) no-repeat center;
		background-size: contain;
	}

	&__icon--geo{
		background: url(#{$path-img}/ic-geo.svg) no-repeat center;
		background-size: contain;
	}

	&__icon--search:hover{background: url(#{$path-img}/ic-search-grey.svg) no-repeat center;}
	&__icon--wish:hover{background: url(#{$path-img}/ic-wish-grey.svg) no-repeat center;}
	&__icon--auth:hover{background: url(#{$path-img}/ic-auth-grey.svg) no-repeat center;}
	&__icon--buy:hover{background: url(#{$path-img}/ic-basket-grey.svg) no-repeat center;}
	&__icon--geo:hover{background: url(#{$path-img}/ic-geo-grey.svg) no-repeat center;}

	// &__icon--search{background-position: -5px -5px;}
	// &__icon--wish{background-position: -5px -30px;}
	// &__icon--auth{background-position: -5px -55px;}
	// &__icon--buy{background-position: -5px -80px;}
	// &__icon--search:hover{background-position: -30px -5px;}
	// &__icon--wish:hover{background-position: -30px -30px;}
	// &__icon--auth:hover{background-position: -30px -55px;}
	// &__icon--buy:hover{background-position: -30px -80px;}



	&__icon:not(:last-child){
		margin-right: 29px;
	}

	&--white{
		border-bottom: 0;
	}

	&--white &__phone,
	&--white &__lang{
		color: #fff;
	}

	&--white &__phone:hover,
	&--white &__lang:hover{
		color: $color-text;
	}

	// &--white &__icon--search{background-position: -55px -5px;}
	// &--white &__icon--wish{background-position: -55px -30px;}
	// &--white &__icon--auth{background-position: -55px -55px;}
	// &--white &__icon--buy{background-position: -55px -80px;}
	// &--white &__icon--search:hover{background-position: -5px -5px;}
	// &--white &__icon--wish:hover{background-position: -5px -30px;}
	// &--white &__icon--auth:hover{background-position: -5px -55px;}
	// &--white &__icon--buy:hover{background-position: -5px -80px;}

	// &--white.open-menu &__icon--search{background-position: -5px -5px;}
	// &--white.open-menu &__icon--buy{background-position: -5px -80px;}
	// &--white.open-menu &__icon--search:hover{background-position: -30px -5px;}
	// &--white.open-menu &__icon--buy:hover{background-position: -30px -80px;}

	&--white &__icon--search{background: url(#{$path-img}/ic-search-white.svg) no-repeat center;}
	&--white &__icon--wish{background: url(#{$path-img}/ic-wish-white.svg) no-repeat center;}
	&--white &__icon--auth{background: url(#{$path-img}/ic-auth-white.svg) no-repeat center;}
	&--white &__icon--buy{background: url(#{$path-img}/ic-basket-white.svg) no-repeat center;}
	&--white &__icon--geo{background: url(#{$path-img}/ic-geo-white.svg) no-repeat center;}
	&--white &__icon--search:hover{background: url(#{$path-img}/ic-search.svg) no-repeat center;}
	&--white &__icon--wish:hover{background: url(#{$path-img}/ic-wish.svg) no-repeat center;}
	&--white &__icon--auth:hover{background: url(#{$path-img}/ic-auth.svg) no-repeat center;}
	&--white &__icon--buy:hover{background: url(#{$path-img}/ic-basket.svg) no-repeat center;}
	&--white &__icon--geo:hover{background: url(#{$path-img}/ic-geo.svg) no-repeat center;}

	&--white.open-menu &__icon--search{background: url(#{$path-img}/ic-search.svg) no-repeat center;}
	&--white.open-menu &__icon--wish{background: url(#{$path-img}/ic-wish.svg) no-repeat center;}
	&--white.open-menu &__icon--auth{background: url(#{$path-img}/ic-auth.svg) no-repeat center;}
	&--white.open-menu &__icon--buy{background: url(#{$path-img}/ic-basket.svg) no-repeat center;}
	&--white.open-menu &__icon--geo{background: url(#{$path-img}/ic-geo.svg) no-repeat center;}
	&--white.open-menu &__icon--search:hover{background: url(#{$path-img}/ic-search-grey.svg) no-repeat center;}
	&--white.open-menu &__icon--wish:hover{background: url(#{$path-img}/ic-wish-grey.svg) no-repeat center;}
	&--white.open-menu &__icon--auth:hover{background: url(#{$path-img}/ic-auth-grey.svg) no-repeat center;}
	&--white.open-menu &__icon--buy:hover{background: url(#{$path-img}/ic-basket-grey.svg) no-repeat center;}
	&--white.open-menu &__icon--geo:hover{background: url(#{$path-img}/ic-geo-grey.svg) no-repeat center;}


	&.open-menu__icon--search{
		position: relative;
	}

	&.open-menu::before{
		content: '';
		display: inline-block;
		height: 100%;
		width: 1px;
		background: #e2e2e2;
		position: absolute;
		top: 0;
		left: 50px;
	}

	&.fixed{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		z-index: 100;
		background: #fff;
	}

	&--white.fixed &__phone,
	&--white.fixed &__lang{
		color: $color-text;
	}

	&--white.fixed &__phone:hover,
	&--white.fixed &__lang:hover{
		color: $color-grey;
	}

	// &--white.fixed &__icon--search{background-position: -5px -5px;}
	// &--white.fixed &__icon--wish{background-position: -5px -30px;}
	// &--white.fixed &__icon--auth{background-position: -5px -55px;}
	// &--white.fixed &__icon--buy{background-position: -5px -80px;}
	// &--white.fixed &__icon--search:hover{background-position: -30px -5px;}
	// &--white.fixed &__icon--wish:hover{background-position: -30px -30px;}
	// &--white.fixed &__icon--auth:hover{background-position: -30px -55px;}
	// &--white.fixed &__icon--buy:hover{background-position: -30px -80px;}

	&--white.fixed &__icon--search{background: url(#{$path-img}/ic-search.svg) no-repeat center;}
	&--white.fixed &__icon--wish{background: url(#{$path-img}/ic-wish.svg) no-repeat center;}
	&--white.fixed &__icon--auth{background: url(#{$path-img}/ic-auth.svg) no-repeat center;}
	&--white.fixed &__icon--buy{background: url(#{$path-img}/ic-basket.svg) no-repeat center;}
	&--white.fixed &__icon--geo{background: url(#{$path-img}/ic-geo.svg) no-repeat center;}
	&--white.fixed &__icon--search:hover{background: url(#{$path-img}/ic-search-grey.svg) no-repeat center;}
	&--white.fixed &__icon--wish:hover{background: url(#{$path-img}/ic-wish-grey.svg) no-repeat center;}
	&--white.fixed &__icon--auth:hover{background: url(#{$path-img}/ic-auth-grey.svg) no-repeat center;}
	&--white.fixed &__icon--buy:hover{background: url(#{$path-img}/ic-basket-grey.svg) no-repeat center;}
	&--white.fixed &__icon--geo:hover{background: url(#{$path-img}/ic-geo-grey.svg) no-repeat center;}

	&--white.fixed &__logo-white{display: none;}
	&--white.fixed &__logo-black{display: block;}
}

.change-city{
	position: relative;
	margin-right: 15px;

	&__cur{
		@include font(normal, 300, 17px, 20px, #000);
		cursor: pointer;
	}

	.header--white &__cur{
		color: #fff;
	}

	&__content{
		display: none;
		width: 185px;
		padding: 25px 30px;
		background: #fff;
		border: 1px solid #d9d9d9;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 10px;
		z-index: 10;
	}

	&__content::before{
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 10px 9px;
		border-color: transparent transparent #d9d9d9 transparent;
		position: absolute;
		top: -10px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__content::after{
		content: '';
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 9px 10px 9px;
		border-color: transparent transparent #fff transparent;
		position: absolute;
		top: -8px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__list,
	&__item{
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item,
	&__item a{
		@include font(normal, 200, 14px, 17px, #bfbfbf);
		text-decoration: none;
	}

	&__item a:hover,
	&__item.active{
		color: $color-text;
	}

	&__close{
		display: inline-block;
		width: 10px;
		height: 10px;
		background: url(#{$path-img}/sprite.png) no-repeat -55px -495px;
		cursor: pointer;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	&__close:hover{
		background-position: -30px -495px;
	}

	.form-search{
		margin-top: 10px;
	}
}

.top-menu{
	display: flex;
	align-items: center;
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: $font-calibri;
	font-weight: 300;

	ul,
	li{
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__sub{
		display: none;
	}

	&__item,
	&__link{
		@include font(normal, 300, 17px, 20px, $color-text);
		text-transform: uppercase;
		text-decoration: none;
	}

	&__link{
		position: relative;
	}

	&__link.current::after,
	&__link:hover::after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: #e4e4e4;
		position: absolute;
		bottom: -6px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__item:not(:last-child){
		margin-right: 16px;
	}

	&__arr{
		display: none;
	}
}

.header--white{
	.top-menu__item,
	.top-menu__link{
		color: #fff;
	}

	&__link.current::after,
	&__link:hover::after{
		background: #fff;
	}

	.ic-hamburger span,
	.ic-hamburger span::before,
	.ic-hamburger span::after{
		background: #fff;
	}

	.ic-hamburger.active:hover span{
		background-color: transparent;
	}

	.ic-hamburger:hover span,
	.ic-hamburger:hover span::before,
	.ic-hamburger:hover span::after{
		background-color: $color-text;
	}

	.ic-hamburger.active span::before,
	.ic-hamburger.active span::after{
		background-color: $color-text;
	}

	&.fixed .top-menu__item,
	&.fixed .top-menu__link{
		color: $color-text;
	}

	&.fixed &__link.current::after,
	&.fixed &__link:hover::after{
		background: $color-text;
	}

	&.fixed .ic-hamburger span,
	&.fixed .ic-hamburger span::before,
	&.fixed .ic-hamburger span::after{
		background: $color-text;
	}

	&.fixed .ic-hamburger.active:hover span,
	&.fixed .ic-hamburger.active span{
		background-color: transparent;
	}

	&.fixed .ic-hamburger:hover span,
	&.fixed .ic-hamburger:hover span::before,
	&.fixed .ic-hamburger:hover span::after{
		background-color: $color-grey;
	}

	&.fixed .ic-hamburger.active span::before,
	&.fixed .ic-hamburger.active span::after{
		background-color: $color-grey;
	}

}

@media (max-width: 1249px) {
	.top-menu{
		&__item,
		&__link{
			font-size: 13px;
		}
	}
	
	.change-city{
		order: -1;
	}
}

@media (max-width: 991px) {
	.header{
		padding: 5px 0;

		&--white.fixed{
			padding: 5px 0;
		}

		&__logo{
			width: 160px;
			margin-left: auto;
		}

		&--white .top-menu__item,
		&--white .top-menu__link{
			color: $color-text;
		}

		&--white .top-menu__link.current::after,
		&--white .top-menu__link:hover::after{
			background: $color-text;
		}

		&__phone{
			display: inline-block;
			width: 19px;
			height: 19px;
			font-size: 0;
			background: url(#{$path-img}/ic-call.svg) no-repeat center;
			background-size: contain;
		}

		&__phone:hover{background: url(#{$path-img}/ic-call-grey.svg) no-repeat center;}
		&--white &__phone{background: url(#{$path-img}/ic-call-white.svg) no-repeat center;}
		&--white &__phone:hover{background: url(#{$path-img}/ic-call.svg) no-repeat center;}


		&--white.open-menu &__phone{background: url(#{$path-img}/ic-call.svg) no-repeat center;}
		&--white.open-menu &__phone:hover{background: url(#{$path-img}/ic-call-grey.svg) no-repeat center;}

		&--white.fixed &__phone{background: url(#{$path-img}/ic-call.svg) no-repeat center;}
		&--white.fixed &__phone:hover{background: url(#{$path-img}/ic-call-grey.svg) no-repeat center;}
	}

	.change-city{
		display: inline-block;
		vertical-align: middle;
		margin-right: 0;
		margin-left: 20px;
		padding-bottom: 10px;
	}

	.top-menu-wrap{
		display: inline-block;
		position: relative;
		padding-bottom: 10px;

		&__content{
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			background: #f2f2f3;
			z-index: 10;
		}
	}

	.top-menu{
		display: block;
		padding: 20px;

		&__item,
		&__link{
			font-size: 14px;
		}

		&__item:not(:last-child){
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}

@media (min-width: 768px) {
	.top-menu-wrap{
		&:hover &__content{
			display: block;
		}

		&:hover .ic-hamburger span,
		&:hover .ic-hamburger span::before,
		&:hover .ic-hamburger span::after{
			background-color: $color-grey;
		}
	}

	.header{
		&--white .top-menu-wrap:hover .ic-hamburger span,
		&--white .top-menu-wrap:hover .ic-hamburger span::before,
		&--white .top-menu-wrap:hover .ic-hamburger span::after{
			background-color: $color-text;
		}
	}

	.top-menu{
		transform: none!important;
	}
}

@media (max-width: 767px) {
	.header{
		padding: 0;
		position: relative;
		height: 54px;
		z-index: 10;

		&--white.fixed{
			padding:0;
			height: 54px;
		}

		&__logo{
			margin-top: 5px;
			width: 115px;
		}

		&__icon{
			width: 22px;
			height: 22px;
		}

		&__icon--search{
			vertical-align: middle;
			margin-left: 28px;
		}

		// &__mobile-contacts{
		// 	display: flex;
		// 	align-items: flex-end;
		// 	justify-content: space-between;
		// 	padding: 20px;
		// 	height: 60px;
		// }

		// &__mobile-action{
		// 	display: flex;
		// 	align-items: center;
		// 	justify-content: space-between;
		// 	padding: 20px;
		// 	height: 60px;
		// }

		&__mobile-phone{
			@include font(normal, 300, 15px, 20px, $color-text);
			text-decoration: none;
		}

		&__mobile-contacts &__icon--wish{
			width: 13px;
			height: 11px;
			background-position: -5px -755px;
		}

		&__mobile-contacts &__icon--auth{
			width: 14px;
			height: 14px;
			background-position: -5px -55px;
		}

		&__mobile-contacts &__icon--wish:hover{background-position: -30px -755px;}
		&__mobile-contacts &__icon--auth:hover{background-position: -30px -55px;}

		&__mobile-contacts &__lang{color: $color-text; margin-right: 15px;}
		&__mobile-contacts &__lang:hover{color: $color-text;}

		&__mobile-contacts &__icon:not(:last-child){
			margin-right: 18px;
		}

		&__mobile-contacts &__icon{
			display: inline-block;
			vertical-align: middle;
		}

		&.open-menu{
			background: #f2f2f3;
			border-bottom: 1px solid #e2e2e2;
		}
	}

	.header-action{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		height: 60px;

		&__icon{
			display: inline-block;
			width: 17px;
			height: 17px;
		}

		&__icon--wish{
			background: url(#{$path-img}/ic-wish.svg) no-repeat center;
			background-size: contain;
		}

		&__icon--geo{
			background: url(#{$path-img}/ic-geo.svg) no-repeat center;
			background-size: contain;
		}

		&__icon--auth{
			background: url(#{$path-img}/ic-auth.svg) no-repeat center;
			background-size: contain;
		}

		&__icon--search{
			background: url(#{$path-img}/ic-search.svg) no-repeat center;
			background-size: contain;
		}

		&__icon--wish:hover{background: url(#{$path-img}/ic-wish-grey.svg) no-repeat center;}
		&__icon--geo:hover{background: url(#{$path-img}/ic-geo-grey.svg) no-repeat center;}
		&__icon--auth:hover{background: url(#{$path-img}/ic-auth-grey.svg) no-repeat center;}
		&__icon--search:hover{background: url(#{$path-img}/ic-search-grey.svg) no-repeat center;}

		&__lang{
			font-style: normal;
			font-weight: 300;
			font-size: 18px;
			line-height: 18px;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
		}

		&__lang:hover{
			color: $color-grey;
		}
	}

	.top-menu-wrap{
		padding-bottom: 0;

		&__content{
			position: fixed;
			top: 54px;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100%;
			height: 0;
			overflow: hidden;
			transition: height 0.3s ease 0s;
		}

		&__list{
			height: calc(100% - 60px);
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	&.open-menu .top-menu-wrap{
		&__content{
			height: calc(100% - 54px);
		}
	}

	.top-menu{
		padding: 0;
		transform: translateX(0);
		transition: all 0.5s ease 0s;

		&__item:not(:last-child){
			margin-bottom: 0;
		}

		&__link{
			display: block;
			padding: 15px 50px 14px 20px;
			border-bottom: 1px solid #e2e2e2;
		}

		&__link.current::after,
		&__link:hover::after{
			display: none;
		}

		&__arr{
			display: inline-block;
			height: 40px;
			width: 40px;
			position: absolute;
			right: 4px;
			top: 0;
		}

		&__arr::after{
			content: '';
			display: inline-block;
			width: 5px;
			height: 9px;
			background: url(#{$path-img}/sprite.png) no-repeat -30px  -780px;
			position: absolute;
			@include top-center;
			left: 0;
			right: 0;
			margin: 0 auto;
		}

		&__sub{
			display: block;
			visibility: hidden;
			transition: visibility 0.5s ease 0s;
		}

		&__sub.active{
			visibility: visible;
		}

		ul{
			position: absolute;
			top: 0;
			left: 100%;
			width: 100%;
		}

		& &__item-back{
			padding: 10px 20px 11px 37px;
		}

		&__item-back{
			@include font(normal, 300, 14px, 20px, #b5b5b5);
			text-transform: uppercase;
			position: relative;
			cursor: pointer;
		}

		&__item-back::before{
			content: '';
			display: inline-block;
			width: 5px;
			height: 9px;
			background: url(#{$path-img}/sprite.png) no-repeat -5px  -780px;
			position: absolute;
			top: 17px;
			left: 20px;
		}

		&__link-sub{
			display: block;
			padding: 8px 50px 7px 37px;
			@include font(normal, 300, 15px, 20px, $color-text);
			text-decoration: none;
			text-transform: none;
			position: relative;
		}
	}
}

@media (max-width: 340px) {
	.header{
		&__logo{
			width: 106px;
			margin-left: -3px;
		}

		&__phone,
		&__lang{
			margin-right: 20px;
		}
	}
}