<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Авторизация</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="auth-wrap">
								<div class="auth">
									<form method="get" class="form-site">
										<div class="form-site__head">Авторизация</div>
										<div class="form-site__text">Войти через электронную почту</div>

										<div class="form-site__filds">
											<div class="form-site__field">
												<input type="email" placeholder="E-mail" required="required">
											</div>

											<div class="form-site__field">
												<input type="password" placeholder="Пароль" required="required">
												<a href="#" class="form-site__tip">Забыли пароль?</a>
											</div>

											<input type="submit" class="btn" value="Войти">
										</div>
									</form>

									<div class="auth-social">
										<div class="auth-social__text">Или войти через социальную сеть</div>
										<div class="auth-social__list">
											<a href="#" class="auth-social__item auth-social__item--fb"></a>
											<a href="#" class="auth-social__item auth-social__item--tw"></a>
											<a href="#" class="auth-social__item auth-social__item--gplus"></a>
										</div>
									</div>

									<form method="get" class="form-site">
										<div class="form-site__text">Или зарегистрируйтесь, указав адрес электронной почты</div>

										<div class="form-site__filds">
											<div class="form-site__field">
												<input type="email" placeholder="E-mail" required="required">
											</div>

											<div class="form-site__field">
												<input type="password" placeholder="Пароль" required="required">
												<span class="form-site__tip">8 символов и более</span>
											</div>

											<div class="form-site__field">
												<input type="text" placeholder="Имя">
											</div>

											<div class="form-site__field">
												<input type="text" placeholder="Фамилия">
											</div>

											<input type="submit" class="btn" value="Зарегистрироваться">

											<div class="form-site__polit">Создавая личный кабинет, вы соглашаетесь с нашими <a href="#">Условиями использования</a> & <a href="#">Политикой Конфеденциальности</a>.</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
