<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Корзина</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item">Главная</a>
								<span class="bredcrumb__item">Корзина</span>
							</div>
						</div>
					</div>
				</div>

				<div class="basket">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="basket__head">
									<h1>Моя корзина</h1>
									<a href="#" class="basket__clear">Очистить корзину</a>
								</div>

								<div class="basket__list">
									<div class="basket__item js-basket-item">
										<div class="basket__img" style="background-image: url(img/basket1.jpg);"></div>

										<div class="basket__info">
											<div class="basket__name-wrap">
												<div class="basket__name">Лонгслив</div>
											</div>

											<div class="basket__price"><span class="basket__cur-price">4 900&#8381;</span></div>

											<div class="basket-param">
												<div class="basket-param__item basket-param__item--color">
													<span class="basket-param__title">Цвет</span>
													<span class="basket-param__val" style="background: #ca6843"></span>
												</div>

												<div class="basket-param__item">
													<span class="basket-param__title">Размер</span>
													<span class="basket-param__val">S</span>
												</div>

												<div class="basket-param__item basket-param__item--count d-block d-md-none">
													<span class="basket-param__title">Количество</span>
													<span class="basket-param__val">1 шт.</span>
												</div>
											</div>
										</div>

										<div class="basket__btn-setting d-block d-md-none"><span class="ic-hamburger js-btn-setting d-md-block d-lg-none"><span></span></span></div>

										<div class="basket__setting js-setting">
											<div class="basket__size d-block d-md-none">
												<div class="basket__size-title">Размер</div>
												<div class="basket__size-list">
													<span class="basket__size-val">XS</span>
													<span class="basket__size-val active">S</span>
													<span class="basket__size-val">M</span>
													<span class="basket__size-val">L</span>
												</div>
											</div>

											<div class="basket__count">
												<div class="basket__count-title">Количество</div>

												<div class="counter">
													<div class="counter__minus">-</div>
													<input type="text" value="1" class="counter__field">
													<div class="counter__plus">+</div>
												</div>
											</div>

											<a href="#" class="basket__del">Удалить</a>
										</div>
									</div>

									<div class="basket__item js-basket-item">
										<div class="basket__img" style="background-image: url(img/basket2.jpg);"></div>

										<div class="basket__info">
											<div class="basket__name-wrap">
												<span class="basket__name">Рубашка</span>
												<span class="basket__label">Sale</span>
											</div>

											<div class="basket__price"><span class="basket__old-price">6 900&#8381;</span><span class="basket__cur-price">4 900&#8381;</span></div>

											<div class="basket-param">
												<div class="basket-param__item basket-param__item--color">
													<span class="basket-param__title">Цвет</span>
													<span class="basket-param__val" style="background: #e9c7be"></span>
												</div>

												<div class="basket-param__item">
													<span class="basket-param__title">Размер</span>
													<span class="basket-param__val">S</span>
												</div>

												<div class="basket-param__item basket-param__item--count d-block d-md-none">
													<span class="basket-param__title">Количество</span>
													<span class="basket-param__val">1 шт.</span>
												</div>
											</div>
										</div>

										<div class="basket__btn-setting d-block d-md-none"><span class="ic-hamburger js-btn-setting d-md-block d-lg-none"><span></span></span></div>

										<div class="basket__setting js-setting">
											<div class="basket__size d-block d-md-none">
												<div class="basket__size-title">Размер</div>
												<div class="basket__size-list">
													<span class="basket__size-val">XS</span>
													<span class="basket__size-val active">S</span>
													<span class="basket__size-val">M</span>
													<span class="basket__size-val">L</span>
												</div>
											</div>

											<div class="basket__count">
												<div class="basket__count-title">Количество</div>

												<div class="counter">
													<div class="counter__minus">-</div>
													<input type="text" value="1" class="counter__field">
													<div class="counter__plus">+</div>
												</div>
											</div>

											<a href="#" class="basket__del">Удалить</a>
										</div>
									</div>

									<div class="basket__item js-basket-item">
										<div class="basket__img" style="background-image: url(img/basket3.jpg);"></div>

										<div class="basket__info">
											<div class="basket__name-wrap">
												<div class="basket__name">Свитер</div>
											</div>

											<div class="basket__price"><span class="basket__cur-price">8 900&#8381;</span></div>

											<div class="basket-param">
												<div class="basket-param__item basket-param__item--color">
													<span class="basket-param__title">Цвет</span>
													<span class="basket-param__val" style="background: #9bb1ab"></span>
												</div>

												<div class="basket-param__item">
													<span class="basket-param__title">Размер</span>
													<span class="basket-param__val">S</span>
												</div>

												<div class="basket-param__item basket-param__item--count d-block d-md-none">
													<span class="basket-param__title">Количество</span>
													<span class="basket-param__val">1 шт.</span>
												</div>
											</div>
										</div>

										<div class="basket__btn-setting d-block d-md-none"><span class="ic-hamburger js-btn-setting d-md-block d-lg-none"><span></span></span></div>

										<div class="basket__setting js-setting">
											<div class="basket__size d-block d-md-none">
												<div class="basket__size-title">Размер</div>
												<div class="basket__size-list">
													<span class="basket__size-val">XS</span>
													<span class="basket__size-val active">S</span>
													<span class="basket__size-val">M</span>
													<span class="basket__size-val">L</span>
												</div>
											</div>

											<div class="basket__count">
												<div class="basket__count-title">Количество</div>

												<div class="counter">
													<div class="counter__minus">-</div>
													<input type="text" value="1" class="counter__field">
													<div class="counter__plus">+</div>
												</div>
											</div>

											<a href="#" class="basket__del">Удалить</a>
										</div>
									</div>
								</div>
							</div>

							<div class="col-lg-4 offset-xl-1">
								<div class="basket-form-wrap">
									<div class="basket-form">
										<div class="basket-form__result">
											<div class="basket-form__count"><span class="basket-form__count-title">Итого:</span> 3 товара</div>
											<div class="basket-form__price">26 950&#8381;</div>
										</div>

										<form method="get" class="form-site">
											<div class="form-site__filds">
												<div class="form-site__field">
													<input type="text" placeholder="Введите промокод" required="required">
												</div>

												<input type="submit" value="Применить">
											</div>
										</form>

										<a href="#" class="btn">продолжить оформление</a>
										<a href="#" class="btn btn--grey">быстрое оформление заказа</a>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Оплата</div>
											<div class="unwrap-block__content js-unwrap-content">
												<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

												<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Доставка</div>
											<div class="unwrap-block__content js-unwrap-content">
												<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

												<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
											</div>
										</div>

										<div class="unwrap-block js-unwrap-block">
											<div class="unwrap-block__head js-unwrap-head">Возврат</div>
											<div class="unwrap-block__content js-unwrap-content">
												<p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>

												<p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
											</div>
										</div>
									</div><!-- end basket-form -->

									<a href="#" class="btn btn--border">продолжить покупки</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
