<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Коллекция</title>
	//= ../header/header-link.html
	</head>
	<body class="js-body">
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb d-none d-md-flex">
								<a href="/" class="bredcrumb__item">Главная</a>
								<a href="#" class="bredcrumb__item">Каталог</a>
								<span class="bredcrumb__item">New</span>
							</div>
						</div>
					</div>
				</div>

				<div class="video-block-wrap d-none d-md-block">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="video-block">
									<div class="video-block__content js-video-content">
										<div class="video-block__head">spring sumer 2019 colection</div>
										<div class="video-block__play js-video-play"></div>
									</div>

									<video loop="loop" muted="muted" poster="img/preview-video.jpg" class="video-block__video js-video">
										<source src="video/video-bg.webm" type="video/webm">
										<source src="video/video-bg.mp4" type="video/mp4">>
									</video>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="gallery-head d-block d-md-none">
					<div class="container">
						<div class="row">
							<div class="col-12">
								Spring and summer 2019&nbsp;collection
							</div>
						</div>
					</div>
				</div>

				<div class="gallery">
					<div class="container">
						<div class="row">
							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery1.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery1.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery2.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery2.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery3.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery3.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery4.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery4.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery5.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery5.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery6.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery6.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery7.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery7.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery8.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery8.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery9.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery9.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery10.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery10.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery11.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery11.jpg" alt="" />
								</a>
							</div>

							<div class="col-sm-6 col-md-4 col-lg-3">
								<a href="img/gallery12.jpg" data-fancybox="images" class="gallery__item">
									<img src="img/gallery12.jpg" alt="" />
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="subscribe-wrap no-indent">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="subscribe">
									<div class="subscribe__head">Новостная рассылка</div>
									
									<div class="subscribe__text">Подпишитесь на рассылку чтобы узнать о новинках первыми!</div>

									<form method="get" class="form-site">
										<div class="form-site__filds">
											<div class="form-site__field">
												<input type="email" placeholder="E-mail" required="required">
											</div>

											<input type="submit" value="Подписаться">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
