<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Личный кабинет</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item">Главная</a>
								<span class="bredcrumb__item">Личный кабинет</span>
							</div>

							<h1>Личный кабинет</h1>
						</div>
					</div>
				</div>

				<div class="personal-menu">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<div class="personal-menu__item active"><a href="#" class="personal-menu__link personal-menu__link--user"><span class="personal-menu__text">Профиль</span></a></div>
							</div>

							<div class="col-3">
								<div class="personal-menu__item active"><a href="#" class="personal-menu__link personal-menu__link--order"><span class="personal-menu__text">Заказы</span><sup class="personal-menu__num">12</sup></a></div>
							</div>

							<div class="col-3">
								<div class="personal-menu__item active"><a href="#" class="personal-menu__link personal-menu__link--card"><span class="personal-menu__text">Корзина</span><sup class="personal-menu__num">35</sup></a></div>
							</div>

							<div class="col-3">
								<div class="personal-menu__item active"><a href="#" class="personal-menu__link personal-menu__link--wish"><span class="personal-menu__text">Вишлист</span><sup class="personal-menu__num">6</sup></a></div>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-3">
							<div class="personal-info">
								<div class="personal-contact-wrap">
									<div class="personal-contact">
										<div class="personal-contact__item">Иванов Сергей Анатольевич</div>

										<div class="personal-contact__item">
											<span class="personal-contact__label">E-mail</span> Sergeifoxypark@gmail.com
										</div>

										<div class="personal-contact__item">
											<span class="personal-contact__label">Телефон</span> +7 (952) 998 8 22
										</div>
									</div>

									<a href="#" class="btn btn--border">Редактировать профиль</a>
								</div>

								<div class="personal-info__exit-wrap">
									<a href="#" class="personal-info__exit">Выйти из кабинета</a>
								</div>
							</div>
						</div>

						<div class="col-9">
							<div class="personal-list">
								<div class="row">
									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal1.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__order">№5424</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Товаров</div>
													<div class="personal-list__param-val">9</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">На общую сумму</div>
													<div class="personal-list__param-val">23&nbsp;443&nbsp;&#8381;</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Дата заказа</div>
													<div class="personal-list__param-val">12.06.2019</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Статус</div>
													<div class="personal-list__param-val">Ожидает оплаты</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal2.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Размер</div>
													<div class="personal-list__param-val">S</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Количество</div>
													<div class="personal-list__param-val">1</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal3.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal4.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__order">№5424</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Товаров</div>
													<div class="personal-list__param-val">9</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">На общую сумму</div>
													<div class="personal-list__param-val">23&nbsp;443&nbsp;&#8381;</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Дата заказа</div>
													<div class="personal-list__param-val">12.06.2019</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Статус</div>
													<div class="personal-list__param-val">Ожидает оплаты</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal5.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Размер</div>
													<div class="personal-list__param-val">S</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Количество</div>
													<div class="personal-list__param-val">1</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal6.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal7.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__order">№5424</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Товаров</div>
													<div class="personal-list__param-val">9</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">На общую сумму</div>
													<div class="personal-list__param-val">23&nbsp;443&nbsp;&#8381;</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Дата заказа</div>
													<div class="personal-list__param-val">12.06.2019</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Статус</div>
													<div class="personal-list__param-val">Ожидает оплаты</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal8.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Размер</div>
													<div class="personal-list__param-val">S</div>
												</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Количество</div>
													<div class="personal-list__param-val">1</div>
												</div>
											</div>
										</div>
									</div>

									<div class="col-4">
										<div class="personal-list__item">
											<div class="personal-list__img" style="background-image: url(img/personal9.jpg);"></div>

											<div class="personal-list__content">
												<div class="personal-list__name">Лонгслив</div>

												<div class="personal-list__price">4 900&#8381;</div>

												<div class="personal-list__param">
													<div class="personal-list__param-name">Цвет</div>
													<div class="personal-list__param-val personal-list__param-val--color" style="background: #ca6843;"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div><!-- end personal-list -->

							<div class="personal-btn">
								<div class="row">
									<div class="col-4">
										<a href="#" class="btn btn--border">Смотреть все заказы</a>
									</div>

									<div class="col-4">
										<a href="#" class="btn btn--border">Смотреть все товары</a>
									</div>

									<div class="col-4">
										<a href="#" class="btn btn--border">Смотреть весь вишлист</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
