<!doctype html>
<html lang="ru">
	<head>
	//= ../header/header-meta.html
		<title>Отзывы</title>
	//= ../header/header-link.html
	</head>
	<body>
		<div class="wrapper">
			//= ../header/header.html
			<main>
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="bredcrumb">
								<a href="/" class="bredcrumb__item">Главная</a>
								<span class="bredcrumb__item">Отзывы</span>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="row">
						<div class="col-12">

							<div class="board-review">
								<div class="board-review__head">Благодаря вам мы становимся лучше</div>

								<div class="board-review__mark">
									<div class="board-review__mark-text">Средняя оценка магазина</div>
									<div class="board-review__count"><span class="board-review__num">9,5</span>из<span class="board-review__num">10</span></div>
								</div>

								<div class="board-review__text">Мы будем признательны, если вы остаите отзыв о коллекции, работе отдела клиентского сервиса и службы доставки или подеоитесь мнением о качестве товара</div>

								<a href="#" class="btn btn--white-fill">оставить отзыв</a>
							</div>

							<div class="review-filter">
								<a href="#" class="review-filter__item active">
									<span class="review-filter__num">1 162</span>
									<span class="review-filter__label">положительные</span>
								</a>

								<a href="#" class="review-filter__item">
									<span class="review-filter__num">1 362</span>
									<span class="review-filter__label">все</span>
								</a>

								<a href="#" class="review-filter__item">
									<span class="review-filter__num">200</span>
									<span class="review-filter__label">отрицательные</span>
								</a>
							</div>

							<div class="review-list">
								<div class="review-list__item">
									<div class="review-list__mark">
										<div class="review-list__num">9</div>
										<div class="review-list__label">Оценка</div>
									</div>

									<div class="review js-review">
										<div class="review__content js-review-content">
											<div class="review__text">Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.</div>

											<div class="review__caption">
												<div class="review__author">
													<span class="review__name">Лиза</span>
													<span class="review__city">Смоленск</span>
												</div>

												<a href="#" class="review__link-open js-review-link-open">Ответ магазина</a>
											</div>
										</div>

										<div class="review__answer js-review-answer">
											<div class="review__answer-text">
												<p>С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.</p>

												<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации модели развития.</p>
											</div>

											<div class="review__answer-author">Магазин Latrika</div>
										</div>
									</div>
								</div>

								<div class="review-list__item">
									<div class="review-list__mark">
										<div class="review-list__num">8,7</div>
										<div class="review-list__label">Оценка</div>
									</div>

									<div class="review js-review">
										<div class="review__content js-review-content">
											<div class="review__text">Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.</div>

											<div class="review__caption">
												<div class="review__author">
													<span class="review__name">Маргарита</span>
													<span class="review__city">Москва</span>
												</div>

												<a href="#" class="review__link-open js-review-link-open">Ответ магазина</a>
											</div>
										</div>

										<div class="review__answer js-review-answer">
											<div class="review__answer-text">
												<p>С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.</p>

												<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации модели развития.</p>
											</div>

											<div class="review__answer-author">Магазин Latrika</div>
										</div>
									</div>
								</div>

								<div class="review-list__item">
									<div class="review-list__mark">
										<div class="review-list__num">9</div>
										<div class="review-list__label">Оценка</div>
									</div>

									<div class="review js-review">
										<div class="review__content js-review-content">
											<div class="review__text">Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.</div>

											<div class="review__caption">
												<div class="review__author">
													<span class="review__name">Лиза</span>
													<span class="review__city">Смоленск</span>
												</div>

												<a href="#" class="review__link-open js-review-link-open">Ответ магазина</a>
											</div>
										</div>

										<div class="review__answer js-review-answer">
											<div class="review__answer-text">
												<p>С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.</p>

												<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации модели развития.</p>
											</div>

											<div class="review__answer-author">Магазин Latrika</div>
										</div>
									</div>
								</div>

								<div class="review-list__item">
									<div class="review-list__mark">
										<div class="review-list__num">9</div>
										<div class="review-list__label">Оценка</div>
									</div>

									<div class="review js-review">
										<div class="review__content js-review-content">
											<div class="review__text">Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.</div>

											<div class="review__caption">
												<div class="review__author">
													<span class="review__name">Лиза</span>
													<span class="review__city">Смоленск</span>
												</div>

												<a href="#" class="review__link-open js-review-link-open">Ответ магазина</a>
											</div>
										</div>

										<div class="review__answer js-review-answer">
											<div class="review__answer-text">
												<p>С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.</p>

												<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации модели развития.</p>
											</div>

											<div class="review__answer-author">Магазин Latrika</div>
										</div>
									</div>
								</div>


								<div class="review-list__item">
									<div class="review-list__mark">
										<div class="review-list__num">9</div>
										<div class="review-list__label">Оценка</div>
									</div>

									<div class="review js-review">
										<div class="review__content js-review-content">
											<div class="review__text">Таким образом сложившаяся структура организации играет важную роль в формировании существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации. Равным образом рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий.</div>

											<div class="review__caption">
												<div class="review__author">
													<span class="review__name">Лиза</span>
													<span class="review__city">Смоленск</span>
												</div>

												<a href="#" class="review__link-open js-review-link-open">Ответ магазина</a>
											</div>
										</div>

										<div class="review__answer js-review-answer">
											<div class="review__answer-text">
												<p>С другой стороны дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Равным образом новая модель организационной деятельности представляет собой интересный эксперимент проверки форм развития.</p>

												<p>Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны сложившаяся структура организации способствует подготовки и реализации модели развития.</p>
											</div>

											<div class="review__answer-author">Магазин Latrika</div>
										</div>
									</div>
								</div>
							</div><!-- end review-list -->
						</div>
					</div>
				</div>
			</main>
			//= ../footer/footer.html
		</div>

		//= ../footer/footer-script.html
	</body>
</html>
