<div class="container">
	<div class="row align-items-center">
		<div class="col-4 col-lg-5 col-xl-5">
			<div class="top-menu-wrap">
				<span class="ic-hamburger js-btn-menu d-md-block d-lg-none"><span></span></span>

				<div class="top-menu-wrap__content js-top-menu-content">
					<div class="top-menu-wrap__list">
						<ul class="top-menu js-top-menu">
							<!-- <li class="top-menu__item"><a href="#" class="top-menu__link current">Главная</a></li> -->
							<li class="top-menu__item"><a href="#" class="top-menu__link js-top-menu-link">Каталог<span class="top-menu__arr js-top-menu-arr"></span></a>
								<ul class="top-menu__sub js-top-menu-sub">
									<li class="top-menu__item-back js-top-menu-back"></li>

									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">New<span class="top-menu__arr js-top-menu-arr"></span></a>
										<ul class="top-menu__sub js-top-menu-sub">
											<li class="top-menu__item-back js-top-menu-back"></li>

											<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Latrika Basic</a></li>
											<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Костюмы</a></li>
											<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Платья</a></li>
										</ul>
									</li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Latrika Basic</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Костюмы</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Платья</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Блузы и топы</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Рубашки</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Джемпера</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Юбки</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Брюки</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Жакеты</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Пальто</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Верхняя одежда</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Пальто</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Куртки</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Шубы</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Аксессуары</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Sale</a></li>
								</ul>
							</li>
							<li class="top-menu__item"><a href="#" class="top-menu__link js-top-menu-link">Lookbook</a></li>
							<li class="top-menu__item"><a href="#" class="top-menu__link js-top-menu-link">Покупателям<span class="top-menu__arr js-top-menu-arr"></span></a>
								<ul class="top-menu__sub js-top-menu-sub">
									<li class="top-menu__item-back js-top-menu-back"></li>
									
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Корзина</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Личный кабинет</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Вишлист</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Оформление заказа</a></li>
									<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub js-top-menu-link">Покупателям</a></li>
								</ul>
							</li>
							<li class="top-menu__item"><a href="#" class="top-menu__link js-top-menu-link">О бренде</a></li>
							<li class="top-menu__item"><a href="#" class="top-menu__link js-top-menu-link">Контакты</a></li>
						</ul>
					</div>

					<div class="header-action d-flex d-md-none">
						<a href="#" class="header-action__icon header-action__icon--wish"></a>
						<a href="#" class="header-action__icon header-action__icon--geo"></a>
						<a href="#" class="header-action__icon header-action__icon--auth"></a>
						<a href="#" class="header-action__icon header-action__icon--search"></a>
						<a href="#" class="header-action__lang">en</a>
					</div>
				</div>
			</div>

			<a href="#" class="header__icon header__icon--search d-inline-block d-md-none"></a>
		</div>

		<div class="col-4 col-lg-2 col-xl-2">
			<div class="header__logo">
				<a href="/" class="header__logo-black"><img src="img/logo.svg" alt=""></a>
				<a href="/" class="header__logo-white"><img src="img/logo-white.svg" alt="">
			</div>
		</div>

		<div class="col-4 col-lg-5 col-xl-5">
			<div class="header__action">
				<a href="tel:+7909591990" class="header__phone">+7 (909) 59-19-90</a>
				<a href="#" class="header__lang d-none d-md-block">en</a>
				<a href="#" class="header__icon header__icon--search d-none d-md-block"></a>
				<!-- <a href="#" class="header__icon header__icon--wish d-none d-md-block"></a> -->
				<a href="#" class="header__icon header__icon--auth d-none d-md-block"></a>
				<a href="#" class="header__icon header__icon--buy"></a>
			</div>
		</div>
	</div>
</div>