<header class="header header--white">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5">
				<ul class="top-menu">
					<li class="top-menu__item"><a href="#" class="top-menu__link current">Главная</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Каталог</a>
						<ul class="top-menu__sub">
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">New</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Latrika Basic</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Костюмы</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Платья</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Блузы и топы</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Рубашки</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Джемпера</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Юбки</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Брюки</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Жакеты</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Пальто</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Верхняя одежда</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Пальто</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Куртки</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Шубы</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Аксессуары</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Sale</a></li>
						</ul>
					</li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Lookbook</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Покупателям</a>
						<ul class="top-menu__sub">
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Корзина</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Личный кабинет</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Вишлист</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Оформление заказа</a></li>
							<li class="top-menu__item-sub"><a href="#" class="top-menu__link-sub">Покупателям</a></li>
						</ul>
					</li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">О бренде</a></li>
					<li class="top-menu__item"><a href="#" class="top-menu__link">Контакты</a></li>
				</ul>
			</div>

			<div class="col-2">
				<div class="header__logo"><a href="/"><img src="img/logo-white.svg" alt=""></a></div>
			</div>

			<div class="col-5">
				<div class="header__action">
					<a href="tel:+7909591990" class="header__phone">+7 (909) 59-19-90</a>
					<a href="#" class="header__lang">en</a>
					<a href="#" class="header__icon header__icon--search"></a>
					<a href="#" class="header__icon header__icon--wish"></a>
					<a href="#" class="header__icon header__icon--auth"></a>
					<a href="#" class="header__icon header__icon--buy"></a>
				</div>
			</div>
		</div>
	</div>
</header>